#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/gnome-search-tool
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/gnome-utils.png
StartupNotify=true
Categories=Utility;
Name=gnome-utils-gnome-search-tool
Name[ja]=gnome-utils-gnome-search-tool
GenericName=gnome-utils-gnome-search-tool
GenericName[ja]=gnome-utils-gnome-search-tool
