#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=marble
Path=
Icon=marble.png
StartupNotify=true
Categories=Education;
Name=Marble
Name[de]=Marble
Name[en_GB]=Marble
Name[fr]=Marble
Name[fr_CA]=Marble
Name[ja]=Marble
Name[pl]=Marble
Name[pt_BR]=Marble
GenericName=marble
GenericName[de]=marble
GenericName[en_GB]=marble
GenericName[fr]=marble
GenericName[fr_CA]=marble
GenericName[ja]=marble
GenericName[pl]=marble
GenericName[pt_BR]=marble
