#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/lobase
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/libreoffice.png
StartupNotify=true
NoDisplay=true
Categories=Office
MimeType=application/x-lobase
Name=LibreOffice-Base
Name[ja]=LibreOffice-Base
GenericName=libreoffice-base
GenericName[ja]=libreoffice-base
