[Desktop Entry]
Value=1.0
Type=Application
Exec=kchmviewer
Path=
Icon=defaulticon.png
StartupNotify=true
Name=kchmviewer
Name[fr]=kchmviewer
Name[ja]=kchmviewer
Name[pt_BR]=kchmviewer
GenericName=kchmviewer
GenericName[fr]=kchmviewer
GenericName[ja]=kchmviewer
GenericName[pt_BR]=kchmviewer
