[Desktop Entry]
Value=1.0
Type=Application
Exec=qsampler
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=AudioVideo
Name=Qsampler
Name[fr]=Qsampler
Name[ja]=Qsampler
Name[pt_BR]=Qsampler
GenericName=qsampler
GenericName[fr]=qsampler
GenericName[ja]=qsampler
GenericName[pt_BR]=qsampler
