#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/dbvis
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/dbvis.png
StartupNotify=true
Categories=Utility;
Name=DbVisualizer
Name[ja]=DbVisualizer
GenericName=DbVisualizer
GenericName[ja]=DbVisualizer
