/*
	AUTHOR: Osvaldas Valutis, www.osvaldas.info
*/



@import url( 'http://fonts.googleapis.com/css?family=Cabin+Condensed:400,700|Noticia+Text:400,400italic,700,700italic&subset=latin,latin-ext' );



html
{
	font-size: 100%;
}



body
{
        font-family: 'Raleway', sans-serif;
	font-weight: 400;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



body,
a,
a:hover
{
	color: #111;
}

a
{
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}

a,
a:hover
{
	text-decoration: none;
}


/*
	META
*/

#meta
{
	width: 100%;
	height: 40px;
	line-height: 1;
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .5 );
	overflow: hidden;
	position: fixed;
	z-index: 1001;
	bottom: 0;
	left: 0;
        padding: 10px 20px;
}
	#meta.dark
	{
		background-color: #111;
		background-color: rgba( 0, 0, 0, .5 );
	}
	#meta li
	{
		float: right;
	}
		#meta li:first-child
		{
			float: left;
		}
		#meta li:last-child
		{
			margin-right: 15px;

			-webkit-transition: opacity .3s ease;
			-moz-transition: opacity .3s ease;
			-ms-transition: opacity .3s ease;
			-o-transition: opacity .3s ease;
			transition: opacity .3s ease;
		}
		#meta:not(:hover) li:last-child
		{
			opacity: 0;
		}
		#copyright
		{
			font-family: 'Cabin Condensed', sans-serif;
			font-weight: 500;
			text-transform: uppercase;
			text-decoration: none;
			color: #fff;
			float: left;
			position: relative;
			bottom: -2px;
		}
			#copyright:before
			{
				width: 0;
				height: 0;
				display: inline-block;
				border: 5px solid transparent;
				border-left: none;
				border-right-color: #fff;
				border-right-color: rgba( 0, 0, 0, .5 );
				content: '';
				margin-right: 5px;
			}
				#copyright:hover:before
				{
					border-right-color: #fff;
				}
			#meta.dark #copyright
			{
				color: #fff;
			}
				#meta.dark #copyright:before
				{
					border-right-color: #fff;
					border-right-color: rgba( 255, 255, 255, .5 );
				}
					#meta.dark #copyright:hover:before
					{
						border-right-color: #fff;
					}



/*
	RESPONSIVENESS
*/

@media screen and (max-width: 50em), screen and (max-height: 50em) /* 640 */
{
	#ad,
	#meta
	{
		display: none;
	}
}

/*
   Jail table (PBI descriptions) CSS (Add a box just around the outside of the table)
*/
table {border:1px solid #444444}
td,th {border:none}
    table.tecspec th,table.tecspec td{
        border:1px solid #ACACBF;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;text-align:left;
}

table.jaillist,table.tecspec{
        border-collapse:collapse;width:100%;
}
/* background colors and borders for PBI names */
table.jaillist tr:nth-child(odd)	{background-color:#D6D6DD;}
table.jaillist tr:nth-child(even)	{background-color:#D6D6DD;}

table.jaillist tr.fixzebra		{background-color:#D6D6DD;}

table.jaillist th{
/* background colors and borders for PBI names */
        color:#444444;background-color:#77AAFF;border:1px solid #555555;padding:3px;vertical-align:top;text-align:left;
}
table.jaillist th a:link,table.jaillist th a:visited{
        color:#ffffff;
}

table.jaillist th a:hover,table.jaillist th a:active{
        color:#EE872A;
}

table.jaillist td{
        padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;
}

table.jaillist td.example_code
{
	vertical-align:bottom;
}

.onoffswitch {
    position: relative; width: 140px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Recommended";
    font-size: 75%;
    padding-right: 14px;
    background-color: #77AAFF; color: #444444;
    text-align: center;
}

.onoffswitch-inner:after {
    content: "All Apps";
    font-size: 75%;
    padding-left: 10px;
    background-color: #77AAFF; color: #444444;
    text-align: center;
}

.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 3px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 106px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.btn-style{
        border : solid 3px #6B99E5;
	border-radius : 5px 5px 20px 20px ;
	moz-border-radius : 5px 5px 20px 20px ;
	-webkit-box-shadow : 0px 1px 5px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 1px 5px rgba(0,0,0,1.0);
	box-shadow : 0px 1px 5px rgba(0,0,0,1.0);
	font-size : 15px;
	color : #000000;
	padding : 2px 15px;
	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6));
	background : -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );

}
