[Desktop Entry]
Value=1.0
Type=Application
Exec=gnomermind
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=gnomermind
Name[ja]=gnomermind
GenericName=gnomermind
GenericName[ja]=gnomermind
