#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=obm-moz
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=obm-moz
Name[fr]=obm-moz
Name[ja]=obm-moz
GenericName=obm-moz
GenericName[fr]=obm-moz
GenericName[ja]=obm-moz
