#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=obm-nav
GenericName=obm-nav
Exec=obm-nav
Path=
Icon=
Categories=Utility
StartupNotify=true
