#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=xarchiver
Path=
Icon=xarchiver.png
StartupNotify=true
Name=Xarchiver
Name[de]=Xarchiver
Name[en_GB]=Xarchiver
Name[en_ZA]=Xarchiver
Name[fr]=Xarchiver
Name[fr_CA]=Xarchiver
Name[ja]=Xarchiver
Name[pl]=Xarchiver
Name[pt_BR]=Xarchiver
Name[uk]=Xarchiver
GenericName=Xarchiver
GenericName[de]=Xarchiver
GenericName[en_GB]=Xarchiver
GenericName[en_ZA]=Xarchiver
GenericName[fr]=Xarchiver
GenericName[fr_CA]=Xarchiver
GenericName[ja]=Xarchiver
GenericName[pl]=Xarchiver
GenericName[pt_BR]=Xarchiver
GenericName[uk]=Xarchiver
