[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=pc-su VirtualBox
TryExec=VirtualBox
Icon=VBox
Categories=Emulator;System;
Name=Oracle VM VirtualBox
Name[de]=Oracle VM VirtualBox
Name[fr]=Oracle VM VirtualBox
Name[fr_CA]=Oracle VM VirtualBox
Name[uk]=Oracle VM VirtualBox
Name[zh_CN]=Oracle VM VirtualBox
GenericName=Virtual Machine
GenericName[de]=Virtuelle Maschine
GenericName[fr]=Machine Virtuelle
GenericName[fr_CA]=Machine Virtuelle
GenericName[uk]=Віртуальна машина
GenericName[zh_CN]=虚拟机
Comment=Run several virtual systems on a single host computer
Comment[de]=Einige virtuelle Systeme auf einem Wirtssystem laufen lassen
Comment[fr]=Exécuter plusieurs systèmes virtuels sur un seul ordinateur hôte
Comment[fr_CA]=Exécuter plusieurs systèmes virtuels sur un seul ordinateur hôte
Comment[it]=Esegui più macchine virtuali su un singolo computer
Comment[ko]=가상 머신
Comment[pl]=Uruchamianie wielu systemów wirtualnych na jednym komputerze gospodarza
Comment[sv]=Kör flera virtuella system på en enda värddator
Comment[uk]=Запуск декількох віртуальних машин на Вашому комп'ютері
Comment[zh_CN]=在单个主机上运行几个虚拟系统
