#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=passenger
Path=
Icon=
Categories=Network
StartupNotify=true
Name=passenger
Name[fr]=passenger
Name[fr_CA]=passenger
Name[ja]=passenger
Name[pl]=passenger
GenericName=passenger
GenericName[fr]=passenger
GenericName[fr_CA]=passenger
GenericName[ja]=passenger
GenericName[pl]=passenger
