#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=passenger-status
Path=
Icon=
Categories=Network
StartupNotify=true
Name=passenger-status
Name[ja]=passenger-status
GenericName=passenger-status
GenericName[ja]=passenger-status
