#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=history.htm
Path=
Icon=
Categories=
StartupNotify=true
Name=history.htm
Name[fr]=history.htm
Name[fr_CA]=history.htm
Name[ja]=history.htm
GenericName=history.htm
GenericName[fr]=history.htm
GenericName[fr_CA]=history.htm
GenericName[ja]=history.htm
