#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=pc-bugreport
Icon=/usr/local/share/pcbsd/pc-controlpanel/icons/pc-bugreport.png
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=System;
Name=TrueOS bug report tool
Name[af]=PC- BSD fout verslag instrument
Name[ar]=اداة تقارير الاعطاب TrueOS
Name[bs]=TrueOS alat za izveštaj o greškama
Name[de]=TrueOS Bug-Report-Tool
Name[el]=TrueOS εργαλείο αναφοράς σφάλματος
Name[en_GB]=TrueOS bug report tool
Name[en_ZA]=TrueOS bug report tool
Name[es]=Herramienta para reporte de errores de TrueOS
Name[et]=TrueOS vigadest teatamise tööriist
Name[fa]=ابزار گزارش اشکال TrueOS
Name[fi]=TrueOS:n bugien raportointityökalu
Name[fr]=TrueOS outil de rapport de bug
Name[fr_CA]=TrueOS outils rapport de bug
Name[hi]=पी.सी-बी.एस.डी बग रिपोर्ट टूल
Name[hr]=TrueOS alat za izveštaj o greškama
Name[hu]=TrueOS hiba-bejelentő eszköz
Name[id]=Alat laporan serangga TrueOS
Name[it]=Strumento di segnalazione dei bug di TrueOS
Name[ja]=TrueOS バグ報告ツール
Name[ko]=TrueOS 버그 리포트 도구
Name[lv]=TrueOS kļūdu ziņošanas rīks
Name[mt]=TrueOS rapport bug għodda
Name[nl]=Foutmeldingshulpmiddel voor TrueOS
Name[pl]=TrueOS - Narzędzie do raportowania błędów.
Name[pt_BR]=Ferramenta de relatório de erro do TrueOS
Name[ro]=Instrument raportare eroare TrueOS
Name[ru]=Средство извещения об ошибках TrueOS
Name[sr]=TrueOS alat za izveštaj o greškama
Name[sv]=TrueOS felrapporteringsverktyg
Name[uk]=Інструмент повідомлення про вади TrueOS
Name[vi]=TrueOS công cụ báo cáo lỗi bị
Name[zh_CN]=TrueOS 缺陷汇报工具
Name[zh_HK]=TrueOS 錯誤回報工具
Name[zh_TW]=TrueOS 錯誤回報工具
GenericName=TrueOS bug report tool
GenericName[af]=PC- BSD fout verslag instrument
GenericName[ar]=اداة تقارير الاعطاب TrueOS
GenericName[bs]=TrueOS alat za izveštaj o greškama
GenericName[de]=TrueOS Bug-Report-Tool
GenericName[el]=TrueOS εργαλείο αναφοράς σφάλματος
GenericName[en_GB]=TrueOS bug report tool
GenericName[en_ZA]=TrueOS bug report tool
GenericName[es]=Herramienta para reporte de errores de TrueOS
GenericName[et]=TrueOS vigadest teatamise tööriist
GenericName[fa]=ابزار گزارش اشکال TrueOS
GenericName[fi]=TrueOS:n bugien raportointityökalu
GenericName[fr]=TrueOS outil de rapport de bug
GenericName[fr_CA]=TrueOS outils rapport de bug
GenericName[hi]=पी.सी-बी.एस.डी बग रिपोर्ट टूल
GenericName[hr]=TrueOS alat za izveštaj o greškama
GenericName[hu]=TrueOS hiba-bejelentő eszköz
GenericName[id]=Alat laporan serangga TrueOS
GenericName[it]=Strumento di segnalazione dei bug di TrueOS
GenericName[ja]=TrueOS バグ報告ツール
GenericName[ko]=TrueOS 버그 리포트 도구
GenericName[lv]=TrueOS kļūdu ziņošanas rīks
GenericName[mt]=TrueOS rapport bug għodda
GenericName[nl]=Foutmeldingshulpmiddel voor TrueOS
GenericName[pl]=TrueOS - Narzędzie do raportowania błędów.
GenericName[pt_BR]=Ferramenta de relatório de erro do TrueOS
GenericName[ro]=Instrument raportare eroare TrueOS
GenericName[ru]=Средство извещения об ошибках TrueOS
GenericName[sr]=TrueOS alat za izveštaj o greškama
GenericName[sv]=TrueOS felrapporteringsverktyg
GenericName[uk]=Інструмент повідомлення про вади TrueOS
GenericName[vi]=TrueOS công cụ báo cáo lỗi bị
GenericName[zh_CN]=TrueOS 缺陷汇报工具
GenericName[zh_HK]=TrueOS 錯誤回報工具
GenericName[zh_TW]=TrueOS 錯誤回報工具
