#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=qdevelop
Path=
Icon=qdevelop.png
StartupNotify=true
Name=QDevelop
Name[ja]=QDevelop
GenericName=QDevelop
GenericName[ja]=QDevelop
