#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=gtkterm2
Path=
Icon=gtkterm.png
StartupNotify=true
Name=GTKTerm
Name[fr]=GTKTerm
Name[ja]=GTKTerm
GenericName=gtkterm
GenericName[fr]=gtkterm
GenericName[ja]=gtkterm
