#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/conquest
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/conquest.png
StartupNotify=true
Categories=Game;
Name=conquest
Name[ja]=conquest
GenericName=conquest
GenericName[ja]=conquest
