#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=bomb-her-man
Path=
Icon=bomb-her-man_48.png
StartupNotify=true
Name=Bomb-her-man
Name[ja]=Bomb-her-man
Name[pt_BR]=Bomb-her-man
GenericName=bomb-her-man
GenericName[ja]=bomb-her-man
GenericName[pt_BR]=bomb-her-man
