#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=nautilus-connect-server
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=nautilus-connect-server
Name[fr]=nautilus-connect-server
Name[ja]=nautilus-connect-server
GenericName=nautilus-connect-server
GenericName[fr]=nautilus-connect-server
GenericName[ja]=nautilus-connect-server
