#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=gtk3-demo-application
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=gtk3-demo-application
Name[fr]=gtk3-demo-application
Name[fr_CA]=gtk3-demo-application
Name[ja]=gtk3-demo-application
Name[pl]=gtk3-demo-application
GenericName=gtk3-demo-application
GenericName[fr]=gtk3-demo-application
GenericName[fr_CA]=gtk3-demo-application
GenericName[ja]=gtk3-demo-application
GenericName[pl]=gtk3-demo-application
