#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=pcreate
Path=
Icon=
Categories=Network
StartupNotify=true
Name=pcreate
Name[fr]=pcreate
Name[ja]=pcreate
GenericName=pcreate
GenericName[fr]=pcreate
GenericName[ja]=pcreate
