#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=flphoto
Path=
Icon=flphoto.png
StartupNotify=true
Name=flPhoto
Name[fr]=flPhoto
Name[fr_CA]=flPhoto
Name[ja]=flPhoto
Name[pl]=flPhoto
GenericName=flphoto
GenericName[fr]=flphoto
GenericName[fr_CA]=flphoto
GenericName[ja]=flphoto
GenericName[pl]=flphoto
