#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/tong
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/tong.png
StartupNotify=true
Name=TONG
Name[ja]=TONG
GenericName=tong
GenericName[ja]=tong
