#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=RhythmBox
GenericName=RhythmBox
Exec=%%PBI_EXEDIR%%/rhythmbox
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/rb.png
StartupNotify=true
