[Desktop Entry]
Value=1.0
Type=Application
Exec=gbrainy
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=gbrainy
Name[fr]=gbrainy
Name[fr_CA]=gbrainy
Name[ja]=gbrainy
Name[pl]=gbrainy
Name[pt_BR]=gbrainy
GenericName=gbrainy
GenericName[fr]=gbrainy
GenericName[fr_CA]=gbrainy
GenericName[ja]=gbrainy
GenericName[pl]=gbrainy
GenericName[pt_BR]=gbrainy
