#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=leafpad
GenericName=leafpad
Exec=%%PBI_EXEDIR%%/leafpad
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/leafpad.png
StartupNotify=true
Categories=Office;
