[Desktop Entry]
Name=IBus
Name[ar]=IBus
Name[as]=IBus
Name[bg]=IBus
Name[bn_IN]=IBus
Name[ca]=IBus
Name[da]=IBus
Name[de]=IBus
Name[en_GB]=IBus
Name[es]=IBus
Name[et]=IBus
Name[eu]=IBus
Name[fa]=IBus
Name[fr]=IBus
Name[gu]=IBus
Name[hi]=IBus
Name[hu]=IBus
Name[it]=IBus
Name[ja]=IBus
Name[kn]=IBus
Name[ko]=IBus
Name[lv]=IBus
Name[ml]=IBus
Name[mr]=IBus
Name[nb]=IBus
Name[nl]=IBus
Name[or]=IBus
Name[pa]=IBus
Name[pl]=iBus
Name[pt_BR]=IBus
Name[ru]=IBus
Name[sr]=IBus
Name[sr@latin]=IBus
Name[ta]=IBus
Name[te]=IBus
Name[uk]=IBus
Name[vi]=IBus
Name[zh_CN]=IBus
Name[zh_HK]=IBus
Name[zh_TW]=iBus
GenericName=Input Method Framework
GenericName[as]=ইনপুট পদ্ধতি আধাৰ
GenericName[bg]=Избор на методите за писане
GenericName[bn_IN]=ইনপুট পদ্ধতির পরিকাঠামো
GenericName[ca]=Entorn de mètodes d'entrada
GenericName[da]=Framework for inputmetode
GenericName[de]=Eingabemethode-Framework
GenericName[en_GB]=Input Method Framework
GenericName[es]=Marco de trabajo para métodos de entrada
GenericName[fr]=Framework de méthode de saisie
GenericName[gu]=ઇનપુટ પદ્દતિ ફ્રેમવર્ક
GenericName[hi]=IBus विधि फ्रेमवर्क
GenericName[hu]=Bevitelimód-keretrendszer
GenericName[it]=Framework del metodo di input
GenericName[ja]=インプットメソッドフレームワーク
GenericName[kn]=IBus ವಿಧಾನದ ಫ್ರೇಮ್‌ವರ್ಕ್
GenericName[ko]=입력 방식 프레임워크
GenericName[lv]=Ievades metožu rāmja sistēma
GenericName[ml]=ഇന്‍പുട്ട് മെഥേഡ് ആകൃതി
GenericName[mr]=इन्पुट पद्धत फ्रेमवर्क
GenericName[nb]=Rammeverk for inndatametode
GenericName[nl]=Invoer methode kader
GenericName[or]=ନିବେଶ ପ୍ରଣାଳୀ ଫ୍ରେମୱର୍କ
GenericName[pa]=ਇੰਪੁੱਟ ਢੰਗ ਫਰੇਮਵਰਕ
GenericName[pl]=Struktura metody wprowadzania
GenericName[pt_BR]=Framework do método de entrada
GenericName[ru]=Система методов ввода
GenericName[ta]=உள்ளீடு முறை ஃபிரேம்வொர்க்
GenericName[te]=ఇన్‌పుట్ పద్ధతి ఫ్రేమ్‌వర్క్
GenericName[uk]=Оболонка способів введення
GenericName[zh_CN]=输入法框架
GenericName[zh_TW]=輸入法框架
Comment=Start IBus Input Method Framework
Comment[as]=IBus ইনপুট পদ্ধতি আধাৰ আৰম্ভ কৰক
Comment[bg]=Стартира IBus избор на метод за писане
Comment[bn_IN]=IBus ইনপুট পদ্ধতির পরিকাঠামো আরম্ভ করা হবে
Comment[ca]=Inicia l'entorn de mètodes d'entrada IBus
Comment[da]=Start IBus, framework for inputmetode
Comment[de]=IBus-Eingabemethode-Framework starten
Comment[en_GB]=Start IBus Input Method Framework
Comment[es]=Inicie el marco de trabajo para métodos de entrada IBus
Comment[fr]=Démarrer le framework de méthode de saisie IBus
Comment[gu]=IBus ઇનપુટ પદ્દતિ ફ્રેમવર્કને શરૂ કરો
Comment[hi]=IBus इनपुट विधि फ्रेमवर्क आरंभ करें
Comment[hu]=IBus bevitelimód-keretrendszer elindítása
Comment[it]=Avvia il framework del metodo di input di IBus
Comment[ja]=IBus インプットメソッドフレームワークを起動
Comment[kn]=IBus ಇನ್‌ಪುಟ್ ವಿಧಾನದ ಫ್ರೇಮ್‌ವರ್ಕ್ ಅನ್ನು ಆರಂಭಿಸು
Comment[ko]=IBus 입력 방식 프레임워크 시작
Comment[lv]=Startēt IBus ievades metožu rāmja sistēmu
Comment[ml]=IBus ഇന്‍പുട്ട് മെഥേഡ് ആകൃതി ആരംഭിയ്ക്കുക
Comment[mr]=IBus इन्पुट पद्धती फ्रेमवर्क सुरू करा
Comment[nb]=Start IBus rammeverk for inndatametode
Comment[nl]=Start IBus invoer methode kader
Comment[or]=IBus ନିବେଶ ପ୍ରଣାଳୀ ଫ୍ରେମୱର୍କକୁ ଆରମ୍ଭ କରନ୍ତୁ
Comment[pa]=IBus ਇੰਪੁੱਟ ਢੰਗ ਫਰੇਮਵਰਕ ਸ਼ੁਰੂ ਕਰੋ
Comment[pl]=Uruchomienie struktury metody wprowadzania iBus
Comment[pt_BR]=Iniciar Framework do método de entrada IBus
Comment[ru]=Запустить систему методов ввода IBus
Comment[ta]=IBus உள்ளீடு முறை ஃபிரேம்வொர்க்கை துவக்கு
Comment[te]=IBus ఇన్‌పుట్ పద్ధతి ఫ్రేమ్‌వర్కును ప్రారంభించు
Comment[uk]=Запуск оболонки способів введення IBus
Comment[zh_CN]=启动 IBus 输入法框架
Comment[zh_TW]=啟動 iBus 輸入法框架
Exec=ibus-daemon --xim
Icon=ibus
Terminal=false
Type=Application
Categories=System;Utility;
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
X-GNOME-Autostart-enabled=false
X-MATE-Autostart-enabled=false
