[Desktop Entry]
Value=1.0
Type=Application
Exec=tomboy
Path=
Icon=defaulticon.png
StartupNotify=true
Name=tomboy
Name[fr]=tomboy
Name[fr_CA]=tomboy
Name[ja]=tomboy
Name[pl]=tomboy
Name[pt_BR]=tomboy
GenericName=tomboy
GenericName[fr]=tomboy
GenericName[fr_CA]=tomboy
GenericName[ja]=tomboy
GenericName[pl]=tomboy
GenericName[pt_BR]=tomboy
