#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=KVIrc
GenericName=KVIrc
Exec=%%PBI_EXEDIR%%/kvirc
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/kvirc.png
StartupNotify=true
Categories=Network;
