#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=pygtk-demo
GenericName=pygtk-demo
Exec=pygtk-demo
Path=
Icon=
Categories=Utility
StartupNotify=true
