#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=acdtrace
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-acdtrace
Name[de]=emboss-acdtrace
Name[fr]=emboss-acdtrace
Name[ja]=emboss-acdtrace
Name[pt_BR]=emboss-acdtrace
GenericName=emboss-acdtrace
GenericName[de]=emboss-acdtrace
GenericName[fr]=emboss-acdtrace
GenericName[ja]=emboss-acdtrace
GenericName[pt_BR]=emboss-acdtrace
