#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=antigenic
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-antigenic
Name[de]=emboss-antigenic
Name[en_GB]=emboss-antigenic
Name[fr]=emboss-antigenic
Name[fr_CA]=emboss-antigenic
Name[ja]=emboss-antigenic
Name[pl]=emboss-antigenic
Name[pt_BR]=emboss-antigenic
GenericName=emboss-antigenic
GenericName[de]=emboss-antigenic
GenericName[en_GB]=emboss-antigenic
GenericName[fr]=emboss-antigenic
GenericName[fr_CA]=emboss-antigenic
GenericName[ja]=emboss-antigenic
GenericName[pl]=emboss-antigenic
GenericName[pt_BR]=emboss-antigenic
