#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=emboss-cusp
GenericName=emboss-cusp
Exec=%%PBI_EXEDIR%%/cusp
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
