#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=cutseq
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-cutseq
Name[de]=emboss-cutseq
Name[fr]=emboss-cutseq
Name[ja]=emboss-cutseq
Name[pt_BR]=emboss-cutseq
GenericName=emboss-cutseq
GenericName[de]=emboss-cutseq
GenericName[fr]=emboss-cutseq
GenericName[ja]=emboss-cutseq
GenericName[pt_BR]=emboss-cutseq
