#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=dan
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-dan
Name[ja]=emboss-dan
GenericName=emboss-dan
GenericName[ja]=emboss-dan
