#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/distmat
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-distmat
Name[ja]=emboss-distmat
GenericName=emboss-distmat
GenericName[ja]=emboss-distmat
