#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=distmat
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-distmat
Name[de]=emboss-distmat
Name[fr]=emboss-distmat
Name[fr_CA]=emboss-distmat
Name[ja]=emboss-distmat
Name[pt_BR]=emboss-distmat
GenericName=emboss-distmat
GenericName[de]=emboss-distmat
GenericName[fr]=emboss-distmat
GenericName[fr_CA]=emboss-distmat
GenericName[ja]=emboss-distmat
GenericName[pt_BR]=emboss-distmat
