#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/dotmatcher
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-dotmatcher
Name[ja]=emboss-dotmatcher
GenericName=emboss-dotmatcher
GenericName[ja]=emboss-dotmatcher
