#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/extractseq
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-extractseq
Name[ja]=emboss-extractseq
GenericName=emboss-extractseq
GenericName[ja]=emboss-extractseq
