#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=findkm
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-findkm
Name[fr]=emboss-findkm
Name[ja]=emboss-findkm
Name[pt_BR]=emboss-findkm
GenericName=emboss-findkm
GenericName[fr]=emboss-findkm
GenericName[ja]=emboss-findkm
GenericName[pt_BR]=emboss-findkm
