#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=emboss-isochore
GenericName=emboss-isochore
Exec=%%PBI_EXEDIR%%/isochore
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
