#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=jaspextract
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-jaspextract
Name[ja]=emboss-jaspextract
GenericName=emboss-jaspextract
GenericName[ja]=emboss-jaspextract
