#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=emboss-makenucseq
GenericName=emboss-makenucseq
Exec=%%PBI_EXEDIR%%/makenucseq
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
