#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/megamerger
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-megamerger
Name[ja]=emboss-megamerger
GenericName=emboss-megamerger
GenericName[ja]=emboss-megamerger
