#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/msbar
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-msbar
Name[ja]=emboss-msbar
GenericName=emboss-msbar
GenericName[ja]=emboss-msbar
