#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/mwcontam
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-mwcontam
Name[ja]=emboss-mwcontam
GenericName=emboss-mwcontam
GenericName[ja]=emboss-mwcontam
