#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=needle
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-needle
Name[fr]=emboss-needle
Name[fr_CA]=emboss-needle
Name[ja]=emboss-needle
Name[pl]=emboss-needle
Name[pt_BR]=emboss-needle
GenericName=emboss-needle
GenericName[fr]=emboss-needle
GenericName[fr_CA]=emboss-needle
GenericName[ja]=emboss-needle
GenericName[pl]=emboss-needle
GenericName[pt_BR]=emboss-needle
