#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=nospace
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-nospace
Name[fr]=emboss-nospace
Name[ja]=emboss-nospace
Name[pt_BR]=emboss-nospace
GenericName=emboss-nospace
GenericName[fr]=emboss-nospace
GenericName[ja]=emboss-nospace
GenericName[pt_BR]=emboss-nospace
