#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=emboss-pasteseq
GenericName=emboss-pasteseq
Exec=%%PBI_EXEDIR%%/pasteseq
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
