#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=patmatmotifs
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-patmatmotifs
Name[en_GB]=emboss-patmatmotifs
Name[fr]=emboss-patmatmotifs
Name[fr_CA]=emboss-patmatmotifs
Name[ja]=emboss-patmatmotifs
Name[pl]=emboss-patmatmotifs
Name[pt_BR]=emboss-patmatmotifs
GenericName=emboss-patmatmotifs
GenericName[en_GB]=emboss-patmatmotifs
GenericName[fr]=emboss-patmatmotifs
GenericName[fr_CA]=emboss-patmatmotifs
GenericName[ja]=emboss-patmatmotifs
GenericName[pl]=emboss-patmatmotifs
GenericName[pt_BR]=emboss-patmatmotifs
