#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=pepinfo
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-pepinfo
Name[fr]=emboss-pepinfo
Name[ja]=emboss-pepinfo
Name[pt_BR]=emboss-pepinfo
GenericName=emboss-pepinfo
GenericName[fr]=emboss-pepinfo
GenericName[ja]=emboss-pepinfo
GenericName[pt_BR]=emboss-pepinfo
