#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=psiphi
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-psiphi
Name[ja]=emboss-psiphi
Name[pt_BR]=emboss-psiphi
GenericName=emboss-psiphi
GenericName[ja]=emboss-psiphi
GenericName[pt_BR]=emboss-psiphi
