#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=restover
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-restover
Name[en_GB]=emboss-restover
Name[fr]=emboss-restover
Name[fr_CA]=emboss-restover
Name[ja]=emboss-restover
Name[pl]=emboss-restover
Name[pt_BR]=emboss-restover
GenericName=emboss-restover
GenericName[en_GB]=emboss-restover
GenericName[fr]=emboss-restover
GenericName[fr_CA]=emboss-restover
GenericName[ja]=emboss-restover
GenericName[pl]=emboss-restover
GenericName[pt_BR]=emboss-restover
