#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=emboss-seealso
GenericName=emboss-seealso
Exec=%%PBI_EXEDIR%%/seealso
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
