#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=emboss-showalign
GenericName=emboss-showalign
Exec=%%PBI_EXEDIR%%/showalign
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
