#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=skipredundant
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-skipredundant
Name[fr]=emboss-skipredundant
Name[ja]=emboss-skipredundant
Name[pt_BR]=emboss-skipredundant
GenericName=emboss-skipredundant
GenericName[fr]=emboss-skipredundant
GenericName[ja]=emboss-skipredundant
GenericName[pt_BR]=emboss-skipredundant
