#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=splitter
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-splitter
Name[fr]=emboss-splitter
Name[ja]=emboss-splitter
Name[pt_BR]=emboss-splitter
GenericName=emboss-splitter
GenericName[fr]=emboss-splitter
GenericName[ja]=emboss-splitter
GenericName[pt_BR]=emboss-splitter
