#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/splitter
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-splitter
Name[ja]=emboss-splitter
GenericName=emboss-splitter
GenericName[ja]=emboss-splitter
