#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=union
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-union
Name[fr]=emboss-union
Name[fr_CA]=emboss-union
Name[ja]=emboss-union
Name[pl]=emboss-union
Name[pt_BR]=emboss-union
GenericName=emboss-union
GenericName[fr]=emboss-union
GenericName[fr_CA]=emboss-union
GenericName[ja]=emboss-union
GenericName[pl]=emboss-union
GenericName[pt_BR]=emboss-union
