#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=wordcount
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-wordcount
Name[ja]=emboss-wordcount
GenericName=emboss-wordcount
GenericName[ja]=emboss-wordcount
