#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=wordfinder
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-wordfinder
Name[fr]=emboss-wordfinder
Name[fr_CA]=emboss-wordfinder
Name[ja]=emboss-wordfinder
Name[pt_BR]=emboss-wordfinder
GenericName=emboss-wordfinder
GenericName[fr]=emboss-wordfinder
GenericName[fr_CA]=emboss-wordfinder
GenericName[ja]=emboss-wordfinder
GenericName[pt_BR]=emboss-wordfinder
