#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=emboss-wordcount
GenericName=emboss-wordcount
Exec=%%PBI_EXEDIR%%/wordcount
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/emboss.png
StartupNotify=true
Categories=Education;
