#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=yank
Path=
Icon=emboss.png
StartupNotify=true
Categories=Education;
Name=emboss-yank
Name[ja]=emboss-yank
GenericName=emboss-yank
GenericName[ja]=emboss-yank
