#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=pc-su alsaconf
Path=
Icon=alsa-utils.png
StartupNotify=true
Name=ALSA Configuration
Name[de]=ALSA-Konfiguration
Name[en_GB]=ALSA Configuration
Name[et]=ALSA seadistus
Name[fr]=ALSA Configuration
Name[fr_CA]=ALSA Configuration
Name[ja]=ALSAの設定
Name[pl]=ALSA - konfiguracja
Name[pt_BR]=Configuração do ALSA
GenericName=alsa configuration
GenericName[de]=alsa-Konfiguration
GenericName[en_GB]=alsa configuration
GenericName[fr]=alsa configuration
GenericName[fr_CA]=alsa configuration
GenericName[ja]=ALSAの設定
GenericName[pl]=konfiguracja alsa
GenericName[pt_BR]=configuração do alsa
