#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=liquidwar
Path=
Icon=icon.png
StartupNotify=true
Name=LiquidWar
Name[ja]=LiquidWar
Name[pt_BR]=LiquidWar
GenericName=LiquidWar
GenericName[ja]=LiquidWar
GenericName[pt_BR]=LiquidWar
