#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=gqview
Path=
Icon=gqview.png
StartupNotify=true
Categories=Graphics;
Name=gqview
Name[fr]=gqview
Name[ja]=gqview
GenericName=gqview
GenericName[fr]=gqview
GenericName[ja]=gqview
