#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=qdevelop
Path=
Icon=qdevelop.png
StartupNotify=true
Categories=Development;
Name=QDevelop
Name[fr]=QDevelop
Name[fr_CA]=QDevelop
Name[ja]=QDevelop
Name[pl]=QDevelop
Name[pt_BR]=QDevelop
GenericName=QDevelop
GenericName[fr]=QDevelop
GenericName[fr_CA]=QDevelop
GenericName[ja]=QDevelop
GenericName[pl]=QDevelop
GenericName[pt_BR]=QDevelop
