#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=Fuel
Path=
Icon=fuel.png
StartupNotify=true
Name=Fuel
Name[fr]=Fuel
Name[ja]=Fuel
GenericName=fuel
GenericName[fr]=Fuel
GenericName[ja]=fuel
