#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/freeciv-sdl
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/share/pixmaps/freeciv.png
StartupNotify=true
Categories=Game;TacticStrategy;
Name=FreeCiv Client (SDL)
Name[ja]=FreeCivクライアント (SDL)
GenericName=FreeCiv Client (SDL)
GenericName[ja]=FreeCivクライアント (SDL)
