#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=vectoroids
Path=
Icon=vectoroids.png
StartupNotify=true
Categories=Game;
Name=Vectoroids
Name[fr]=Vectoroids
Name[ja]=Vectoroids
GenericName=vectoroids
GenericName[fr]=vectoroids
GenericName[ja]=vectoroids
