#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=bubble-chains
Path=
Icon=bubble-chains.png
StartupNotify=true
Name=Bubble-Chains
Name[fr]=Bubble-Chains
Name[fr_CA]=Bubble-Chains
Name[ja]=Bubble-Chains
Name[pl]=Bubble-Chains
Name[pt_BR]=Bubble-Chains
GenericName=bubble-chains
GenericName[fr]=bubble-chains
GenericName[fr_CA]=bubble-chains
GenericName[ja]=bubble-chains
GenericName[pl]=bubble-chains
GenericName[pt_BR]=bubble-chains
