#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/tuxfighter
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/tuxfighter.png
StartupNotify=true
Categories=Game
Name=TuxFighter
Name[ja]=TuxFighter
GenericName=tuxfighter
GenericName[ja]=tuxfighter
