#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=rescue
Path=
Icon=rescue.png
StartupNotify=true
Categories=Game;
Name=Rescue Max
Name[fr]=Rescue Max
Name[fr_CA]=Rescue Max
Name[ja]=Rescue Max
GenericName=rescue max
GenericName[fr]=rescue max
GenericName[fr_CA]=rescue max
GenericName[ja]=rescue max
