#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Xiphos
GenericName=Xiphos
Exec=%%PBI_EXEDIR%%/xiphos
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/logo.png
StartupNotify=true
Categories=Office;
