#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=VisualOS
Path=
Icon=visualos.png
StartupNotify=true
Categories=Education
Name=VisualOS
Name[ja]=VisualOS
GenericName=visualos
GenericName[ja]=visualos
