#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/VisualOS
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/visualos.png
StartupNotify=true
Categories=Education
Name=VisualOS
Name[ja]=VisualOS
GenericName=visualos
GenericName[ja]=visualos
