#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=installer.pl
GenericName=installer.pl
Exec=installer.pl
Path=
Icon=
Categories=
StartupNotify=true
