#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/quake3-smp
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/share/pixmaps/quake3.png
StartupNotify=true
Name=Quake3 SMP
Name[ja]=Quake3 SMP
GenericName=Quake3 SMP
GenericName[ja]=Quake3 SMP
