[Desktop Entry]
Value=1.0
Type=Application
Exec=boxer
Path=
Icon=boxer.png
StartupNotify=true
Categories=Graphics
Name=Boxer
Name[fr]=Boxer
Name[fr_CA]=Boxer
Name[ja]=Boxer
Name[pl]=Boxer
GenericName=boxer
GenericName[fr]=boxer
GenericName[fr_CA]=boxer
GenericName[ja]=boxer
GenericName[pl]=boxer
