#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/chrome %U
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/chromium.png
StartupNotify=true
Name=Chromium
Name[ja]=Chromium
GenericName=Chromium
GenericName[ja]=Chromium
