#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=ripperX
Path=
Icon=ripperx.png
StartupNotify=true
Name=RipperX
Name[de]=RipperX
Name[fr]=RipperX
Name[fr_CA]=RipperX
Name[ja]=RipperX
Name[pt_BR]=RipperX
GenericName=ripperx
GenericName[de]=ripperx
GenericName[fr]=ripperx
GenericName[fr_CA]=ripperx
GenericName[ja]=ripperx
GenericName[pt_BR]=ripperx
