#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=xscreensaver-getimage
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=xscreensaver-getimage
Name[fr]=xscreensaver-getimage
Name[ja]=xscreensaver-getimage
GenericName=xscreensaver-getimage
GenericName[fr]=xscreensaver-getimage
GenericName[ja]=xscreensaver-getimage
