#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=Kye
Path=
Icon=Kye.png
StartupNotify=true
GenericName=kye
GenericName[ja]=kye
Name=Kye
Name[ja]=Kye
Name[pt_BR]=Kye
