#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=skencil
Path=
Icon=skencil.png
StartupNotify=true
Categories=Graphics;
Name=Skencil
Name[fr]=Skencil
Name[fr_CA]=Skencil
Name[ja]=Skencil
GenericName=skencil
GenericName[fr]=skencil
GenericName[fr_CA]=skencil
GenericName[ja]=skencil
