[Desktop Entry]
Value=1.0
Type=Application
Exec=ario
Path=
Icon=defaulticon.png
StartupNotify=true
Name=Ario
Name[fr]=Ario
Name[ja]=Ario
Name[pt_BR]=Ario
GenericName=ario
GenericName[fr]=ario
GenericName[ja]=ario
GenericName[pt_BR]=ario
