[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/unison
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/unison.png
StartupNotify=true
Name=Unison
Name[ja]=Unison
GenericName=unison
GenericName[ja]=unison
