#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/mana
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/tmw.png
StartupNotify=true
Categories=Game;
Name=The Mana World
Name[ja]=The Mana World
GenericName=tmw
GenericName[ja]=tmw
