#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=tork
Path=
Icon=tork.png
StartupNotify=true
Categories=Network;
Name=TorK
Name[fr]=TorK
Name[fr_CA]=TorK
Name[ja]=TorK
Name[pl]=TorK
GenericName=TorK
GenericName[fr]=TorK
GenericName[fr_CA]=TorK
GenericName[ja]=TorK
GenericName[pl]=TorK
