#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=swine
Path=
Icon=swine.png
StartupNotify=true
Name=Swine
Name[ja]=Swine
GenericName=swine
GenericName[ja]=swine
