#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/dosbox
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/share/pixmaps/dosbox.png
StartupNotify=true
Categories=Utility;
Name=DOSBox
Name[ja]=DOSBox
GenericName=DOSBox
GenericName[ja]=DOSBox
