#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=torcs
Path=
Icon=share/pixmaps/Ticon.png
StartupNotify=true
Name=TORCS
Name[fr]=TORCS
Name[ja]=TORCS
GenericName=TORCS
GenericName[fr]=TORCS
GenericName[ja]=TORCS
