#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=clamtk
Path=
Icon=clamtk.png
StartupNotify=true
GenericName=ClamTk
GenericName[fr]=ClamTk
GenericName[ja]=ClamTk
Name=ClamTk
Name[fr]=ClamTk
Name[fr_CA]=ClamTk
Name[ja]=ClamTk
