[Desktop Entry]
Value=1.0
Type=Application
Exec=lucidlife
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=lucidlife
Name[fr]=lordsawar
Name[ja]=lucidlife
Name[pt_BR]=lucidlife
GenericName=lucidlife
GenericName[fr]=lordsawar
GenericName[ja]=lucidlife
GenericName[pt_BR]=lucidlife
