#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Efax-gtk
GenericName=efax-gtk
Exec=%%PBI_EXEDIR%%/efax-gtk
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/efax.png
StartupNotify=true
Categories=Utility;
