[Desktop Entry]
Value=1.0
Type=Application
Exec=texmaker
Path=
Icon=texmaker.png
StartupNotify=true
Categories=Utility
Name=Texmaker
Name[fr]=Texmaker
Name[fr_CA]=Texmaker
Name[ja]=Texmaker
Name[pt_BR]=Texmaker
GenericName=texmaker
GenericName[fr]=texmaker
GenericName[fr_CA]=texmaker
GenericName[ja]=texmaker
GenericName[pt_BR]=texmaker
