[Desktop Entry]
Value=1.0
Type=Application
Exec=shotwell
Path=
Icon=shotwell.png
StartupNotify=true
Name=Shotwell
Name[fr]=Shotwell
Name[fr_CA]=Shotwell
Name[ja]=Shotwell
GenericName=shotwell
GenericName[fr]=shotwell
GenericName[fr_CA]=shotwell
GenericName[ja]=shotwell
