[Desktop Entry]
Value=1.0
Type=Application
Exec=cowbell
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=AudioVideo
Name=Cowbell
Name[fr]=Cowbell
Name[ja]=Cowbell
GenericName=cowbell
GenericName[fr]=cowbell
GenericName[ja]=cowbell
