[Desktop Entry]
Value=1.0
Type=Application
Exec=monkey-bubble
Path=
Icon=defaulticon.png
StartupNotify=true
Name=monkeybubble
Name[fr]=monkeybubble
Name[ja]=monkeybubble
GenericName=monkeybubble
GenericName[fr]=monkeybubble
GenericName[ja]=monkeybubble
