#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=f-spot
Path=
Icon=f-spot.png
StartupNotify=true
Name=F-Spot
Name[ja]=F-Spot
GenericName=f-spot
GenericName[ja]=f-spot
