[Desktop Entry]
Value=1.0
Type=Application
Exec=tepsonic
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=AudioVideo
Name=Tepsonic
Name[ja]=Tepsonic
GenericName=tepsonic
GenericName[ja]=tepsonic
