#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=OpenMortal
GenericName=OpenMortal
Exec=%%PBI_EXEDIR%%/openmortal
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/share/pixmaps/openmortal.png
StartupNotify=true
