#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=mindguard
Path=
Icon=mindguard.png
StartupNotify=true
Name=mindguard
Name[fr]=mindguard
Name[ja]=mindguard
GenericName=mindguard
GenericName[fr]=mindguard
GenericName[ja]=mindguard
