#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/blockrage
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Name=Block Rage
Name[ja]=Block Rage
GenericName=block rage
GenericName[ja]=block rage
