#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=fgr
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=fgr
Name[ja]=fgr
GenericName=fgr
GenericName[ja]=fgr
