#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=django-admin
Path=
Icon=
Categories=Network
StartupNotify=true
Name=django-admin
Name[ja]=django-admin
GenericName=django-admin
GenericName[ja]=django-admin
