#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Jitsi
GenericName=jitsi
Exec=%%PBI_EXEDIR%%/jitsi
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/jitsi.png
StartupNotify=true
