[Desktop Entry]
Value=1.0
Type=Application
Exec=freedroidRPG
Path=
Icon=freedroidrpg.png
StartupNotify=true
Name=FreedroidRPG
Name[ja]=FreedroidRPG
GenericName=freedroidRPG
GenericName[ja]=freedroidRPG
