#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=netherearth
Path=
Icon=netherearth.png
StartupNotify=true
Name=Nether Earth
Name[fr]=Nether Earth
Name[fr_CA]=Nether Earth
Name[ja]=Nether Earth
GenericName=nether earth
GenericName[fr]=nether earth
GenericName[fr_CA]=nether earth
GenericName[ja]=nether earth
