#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=BeanShellListeners.bshrc
Path=
Icon=
Categories=
StartupNotify=true
Name=BeanShellListeners.bshrc
Name[ja]=BeanShellListeners.bshrc
GenericName=BeanShellListeners.bshrc
GenericName[ja]=BeanShellListeners.bshrc
