#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=gtkhtml-editor-test
Path=
Icon=
Categories=
StartupNotify=true
Name=gtkhtml-editor-test
Name[fr]=gtkhtml-editor-test
Name[ja]=gtkhtml-editor-test
GenericName=gtkhtml-editor-test
GenericName[fr]=gtkhtml-editor-test
GenericName[ja]=gtkhtml-editor-test
