[Desktop Entry]
Value=1.0
Type=Application
Exec=gimmix
Path=
Icon=defaulticon.png
StartupNotify=true
Name=Gimmix
Name[de]=Gimmix
Name[fr]=Gimmix
Name[fr_CA]=Gimmix
Name[ja]=Gimmix
Name[pt_BR]=Gimmix
GenericName=gimmix
GenericName[de]=gimmix
GenericName[fr]=gimmix
GenericName[fr_CA]=gimmix
GenericName[ja]=gimmix
GenericName[pt_BR]=gimmix
