[Desktop Entry]
Value=1.0
Type=Application
Exec=logjam
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Utility
Name=logjam
Name[ja]=logjam
Name[pt_BR]=logjam
GenericName=logjam
GenericName[ja]=logjam
GenericName[pt_BR]=logjam
