#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=audacious
Path=
Icon=audacious.png
StartupNotify=true
Categories=AudioVideo;
Name=Audacious
Name[fr]=Audacious
Name[fr_CA]=Audacious
Name[ja]=Audacious
GenericName=Audacious
GenericName[fr]=Audacious
GenericName[fr_CA]=Audacious
GenericName[ja]=Audacious
