#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=roundup-demo
Path=
Icon=
Categories=
StartupNotify=true
Name=roundup-demo
Name[fr]=roundup-demo
Name[ja]=roundup-demo
GenericName=roundup-demo
GenericName[fr]=roundup-demo
GenericName[ja]=roundup-demo
