#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=ksnapshot
Path=
Icon=ksnapshot.png
StartupNotify=true
Name=ksnapshot
Name[fr]=ksnapshot
Name[fr_CA]=ksnapshot
Name[ja]=ksnapshot
GenericName=ksnapshot
GenericName[fr]=ksnapshot
GenericName[fr_CA]=ksnapshot
GenericName[ja]=ksnapshot
