#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=lessc
Path=
Icon=
Categories=Network
StartupNotify=true
Name=lessc
Name[ja]=lessc
GenericName=lessc
GenericName[ja]=lessc
