#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=minecraft-server
Path=
Icon=minecraft-icon.png
Categories=Game
StartupNotify=true
Name=Minecraft (Server)
Name[fr]=Minecraft (Server)
Name[fr_CA]=Minecraft (Server)
Name[ja]=Minecraft (サーバー)
GenericName=minecraft (server)
GenericName[fr]=minecraft (server)
GenericName[fr_CA]=minecraft (server)
GenericName[ja]=minecraft (サーバー)
