[Desktop Entry]
Value=1.0
Type=Application
Exec=x-tile
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Utility
Name=x-tile
Name[ja]=x-tile
GenericName=x-tile
GenericName[ja]=x-tile
