#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=fvwm-crystal.infoline
Path=
Icon=
Categories=
StartupNotify=true
Name=fvwm-crystal.infoline
Name[ja]=fvwm-crystal.infoline
GenericName=fvwm-crystal.infoline
GenericName[ja]=fvwm-crystal.infoline
