#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=trean-backfill-favicons
Path=
Icon=
Categories=
StartupNotify=true
Name=trean-backfill-favicons
Name[ja]=trean-backfill-favicons
GenericName=trean-backfill-favicons
GenericName[ja]=trean-backfill-favicons
