#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=subcommander
Path=
Icon=subcommander.png
StartupNotify=true
Categories=Development;
Name=Subcommander
Name[ja]=Subcommander
GenericName=Subcommander
GenericName[ja]=Subcommander
