#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/xchm
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/xchm.png
StartupNotify=true
Categories=Utility;
Name=xCHM
Name[ja]=xCHM
GenericName=xchm
GenericName[ja]=xchm
