#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=GinGin_host.py
GenericName=GinGin_host.py
Exec=GinGin_host.py
Path=
Icon=
Categories=
StartupNotify=true
