#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=battlestar
Path=
Icon=bsdgames.png
StartupNotify=true
Terminal=true
Categories=Game
Name=BSD-Battlestar
Name[fr]=BSD-Battlestar
Name[fr_CA]=BSD-Battlestar
Name[ja]=BSD-Battlestar
Name[pt_BR]=BSD-Battlestar
GenericName=bsd-battlestar
GenericName[fr]=bsd-battlestar
GenericName[fr_CA]=bsd-battlestar
GenericName[ja]=bsd-battlestar
GenericName[pt_BR]=bsd-battlestar
