[Desktop Entry]
Value=1.0
Type=Application
Exec=iriverter
Path=
Icon=defaulticon.png
StartupNotify=true
Name=Iriverter
Name[ja]=Iriverter
GenericName=iriverter
GenericName[ja]=iriverter
