[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/freedroidRPG
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/freedroidrpg.png
StartupNotify=true
Categories=Game
Name=FreedroidRPG
Name[ja]=FreedroidRPG
GenericName=freedroidRPG
GenericName[ja]=freedroidRPG
