#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=__init__.py
Path=
Icon=
Categories=
StartupNotify=true
Name=__init__.py
Name[ja]=__init__.py
GenericName=__init__.py
GenericName[ja]=__init__.py
