#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=jalbum
Path=
Icon=jalbum.png
StartupNotify=true
Name=jalbum
Name[fr]=jalbum
Name[fr_CA]=jalbum
Name[ja]=jalbum
GenericName=jalbum
GenericName[fr]=jalbum
GenericName[fr_CA]=jalbum
GenericName[ja]=jalbum
