#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=jedit
Path=
Icon=jedit.png
StartupNotify=true
Categories=Office;
Name=jEdit
Name[fr]=jEdit
Name[fr_CA]=jEdit
Name[ja]=jEdit
Name[pt_BR]=jEdit
GenericName=jedit
GenericName[fr]=jEdit
GenericName[fr_CA]=jEdit
GenericName[ja]=jedit
GenericName[pt_BR]=jedit
