#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=doomlegacy
Path=
Icon=share/pixmaps/doomlegacy.png
StartupNotify=true
Categories=Game;
Name=Doom Legacy
Name[ja]=Doom Legacy
GenericName=Doom Legacy
GenericName[ja]=Doom Legacy
