#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/codelite
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/codelite.png
StartupNotify=true
Categories=Development;
Name=CodeLite
Name[ja]=CodeLite
GenericName=CodeLite
GenericName[ja]=CodeLite
