#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=gpredict
Path=
Icon=share/pixmaps/gpredict/icons/gpredict-icon.png
StartupNotify=true
Name=Gpredict
Name[fr]=Gpredict
Name[fr_CA]=Gpredict
Name[ja]=Gpredict
Name[pl]=Gpredict
Name[pt_BR]=Gpredict
GenericName=Gpredict
GenericName[fr]=Gpredict
GenericName[fr_CA]=Gpredict
GenericName[ja]=Gpredict
GenericName[pl]=Gpredict
GenericName[pt_BR]=Gpredict
