#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=mwm
Path=
Icon=
Categories=
StartupNotify=true
Name=mwm
Name[fr]=mwm
Name[fr_CA]=mwm
Name[ja]=mwm
GenericName=mwm
GenericName[fr]=mwm
GenericName[fr_CA]=mwm
GenericName[ja]=mwm
