[Desktop Entry]
Value=1.0
Type=Application
Exec=gnomekiss
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=gnomekiss
Name[fr]=gnomekiss
Name[fr_CA]=gnomekiss
Name[ja]=gnomekiss
Name[pt_BR]=gnomekiss
GenericName=gnomekiss
GenericName[fr]=gnomekiss
GenericName[fr_CA]=gnomekiss
GenericName[ja]=gnomekiss
GenericName[pt_BR]=gnomekiss
