#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=Ted
Path=
Icon=ted.png
StartupNotify=true
Categories=Utility;
Name=Ted
Name[ja]=Ted
GenericName=Ted
GenericName[ja]=Ted
