#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/flphoto
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/flphoto.png
StartupNotify=true
Categories=Graphics;
Name=flPhoto
Name[ja]=flPhoto
GenericName=flphoto
GenericName[ja]=flphoto
