#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=browser
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=browser
Name[fr]=browser
Name[ja]=browser
GenericName=browser
GenericName[fr]=browser
GenericName[ja]=browser
