#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/barbie_seahorse_adventures
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/barbie_seahorse_adventures.png
StartupNotify=true
Name=Barbie Seahorse Adventures
Name[ja]=Barbie Seahorse Adventures
GenericName=barbie seahorse adventures
GenericName[ja]=barbie seahorse adventures
