#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=graveman
Path=
Icon=graveman.png
StartupNotify=true
Categories=System;
Name=Graveman
Name[fr]=Graveman
Name[ja]=Graveman
GenericName=graveman
GenericName[fr]=graveman
GenericName[ja]=graveman
