#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=puma
Path=
Icon=
Categories=Network
StartupNotify=true
Name=puma
Name[fr]=puma
Name[fr_CA]=puma
Name[ja]=puma
Name[pl]=puma
Name[ru]=puma
GenericName=puma
GenericName[fr]=puma
GenericName[fr_CA]=puma
GenericName[ja]=puma
GenericName[pl]=puma
GenericName[ru]=puma
