#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=pekwm
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=pekwm
Name[ja]=pekwm
GenericName=pekwm
GenericName[ja]=pekwm
