#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/audacious
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/audacious.png
StartupNotify=true
Name=Audacious
Name[ja]=Audacious
GenericName=Audacious
GenericName[ja]=Audacious
