#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/calligrastage
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/calligra.png
StartupNotify=true
NoDisplay=true
Categories=Office
MimeType=application/x-calligrastage
Name=Calligrastage
Name[ja]=Calligrastage
GenericName=calligrastage
GenericName[ja]=calligrastage
