[Desktop Entry]
Value=1.0
Type=Application
Exec=kfreerings
Path=
Icon=defaulticon.png
StartupNotify=true
Name=kfreerings
Name[fr]=kfreerings
Name[fr_CA]=kfreerings
Name[ja]=kfreerings
Name[pl]=kfreerings
Name[pt_BR]=kfreerings
GenericName=kfreerings
GenericName[fr]=kfreerings
GenericName[fr_CA]=kfreerings
GenericName[ja]=kfreerings
GenericName[pl]=kfreerings
GenericName[pt_BR]=kfreerings
