#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=quicksynergy
Path=
Icon=synergy.png
StartupNotify=true
Categories=Utility;
Name=QuickSynergy
Name[fr]=QuickSynergy
Name[fr_CA]=QuickSynergy
Name[ja]=QuickSynergy
GenericName=QuickSynergy
GenericName[fr]=QuickSynergy
GenericName[fr_CA]=QuickSynergy
GenericName[ja]=QuickSynergy
