#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=primateplunge
Path=
Icon=primateplunge.png
StartupNotify=true
Categories=Game;
Name=Primate Plunge
Name[fr]=Primate Plunge
Name[fr_CA]=Primate Plunge
Name[ja]=Primate Plunge
Name[pl]=Primate Plunge
GenericName=primate plunge
GenericName[fr]=primate plunge
GenericName[fr_CA]=primate plunge
GenericName[ja]=primate plunge
GenericName[pl]=primate plunge
