#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=oxygen-gtk-demo
Path=
Icon=
Categories=
StartupNotify=true
Name=oxygen-gtk-demo
Name[ja]=oxygen-gtk-demo
GenericName=oxygen-gtk-demo
GenericName[ja]=oxygen-gtk-demo
