#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=rsstool
Path=
Icon=
Categories=Network
StartupNotify=true
Name=rsstool
Name[ja]=rsstool
GenericName=rsstool
GenericName[ja]=rsstool
