#!/usr/bin/env xdg-open
[Desktop Entry]

Type=Application
Categories=System
Exec=about-gui
Icon=/usr/local/share/pcbsd/icons/about.png
Name=About
Name[af]=Oor
Name[ar]=عن
Name[bs]=O
Name[de]=Über
Name[el]=Περί
Name[en_GB]=About
Name[en_ZA]=About
Name[es]=Acerca de
Name[et]=Teave
Name[fa]=درباره
Name[fi]=Tietoja
Name[fr]=À propos de
Name[fr_CA]=Au sujet de
Name[hi]=विषय
Name[hr]=O
Name[hu]=Névjegy
Name[id]=Tentang
Name[it]=A riguardo
Name[ja]=バージョン情報
Name[lv]=Par
Name[mt]=Dwar
Name[nl]=Over
Name[pl]=O
Name[pt_BR]=Sobre
Name[ro]=Despre
Name[ru]=Сведения о программе
Name[sr]=O
Name[sv]=Om
Name[tg]=Маълумот оиди программа
Name[tr]=Hakkında
Name[uk]=Про PC-BSD
Name[vi]=Về
Name[zh_CN]=关于
Name[zh_HK]=關於
Name[zh_TW]=關於
Comment=Information about PC-BSD system
Comment[af]=Inligting oor PC-BSD stelsel
Comment[ar]=معلومات عن نظام PC-BSD
Comment[bs]=Informacije o PC-BSD sistemu
Comment[de]=Informationen über PC-BSD
Comment[el]=Πληροφορίες σχετικά με το Σύστημα PC-BSD
Comment[en_GB]=Information about PC-BSD system
Comment[en_ZA]=Information about PC-BSD system
Comment[es]=Información sobre el sistema PC-BSD
Comment[et]=Teave PC-BSD süsteemi kohta
Comment[fa]=اطلاعات در مورد سیستم PC-BSD 
Comment[fr]=Information concernant le système PC-BSD
Comment[fr_CA]=Informations sur le système PC-BSD 
Comment[hi]=पी.सी-बी.एस.डी की जानकारी
Comment[hr]=Informacije o PC-BSD sustavu
Comment[hu]=Információ a PC–BSD rendszerről
Comment[id]=Informasi tentang sistem PC-BSD
Comment[it]=Informazioni sul sistema PC-BSD
Comment[ja]=PC-BSD システムの情報
Comment[lv]=Informācija par PC-BSD sistēmu
Comment[mt]=Informazzjoni dwar is-sistema PC-BSD
Comment[nl]=Informatie over het PC-BSD-systeem
Comment[pl]=Informacje o systemie PC-BSD
Comment[pt_BR]=Informação do sistema PC-BSD
Comment[ro]=Informații despre sistemul PC-BSD 
Comment[ru]=Сведения об операционной системе PC-BSD
Comment[sr]=Informacije o PC-BSD sistemu
Comment[sv]=Information om PC-BSD systemet
Comment[tr]=PC-BSD sistem hakkında bilgi
Comment[uk]=Інформація про PC-BSD
Comment[vi]=Thông tin về PC-BSD hệ thống
Comment[zh_CN]=关于PC-BSD操作系统
Comment[zh_HK]=PC-BSD 系統資訊
Comment[zh_TW]=PC-BSD 系統資訊
