#!/usr/bin/env xdg-open
[Desktop Entry]
Name=IBus Preferences
Name[ar]=تفضيلات IBus
Name[as]=IBus পছন্দসমূহ
Name[bg]=Предпочитания за IBus
Name[bn_IN]=IBus সংক্রান্ত পছন্দ
Name[ca]=Preferències de l'IBus
Name[da]=Indstillinger for IBus
Name[de]=IBus-Einstellungen
Name[en_GB]=IBus Preferences
Name[es]=Preferencias de IBus
Name[et]=IBus eelistused
Name[eu]=IBus hobespenak
Name[fr]=Préférences de IBus
Name[gu]=IBus પસંદગીઓ
Name[hi]=IBus वरीयता
Name[hu]=IBus beállítások
Name[it]=Preferenze di IBus
Name[ja]=IBus の設定
Name[kn]=IBus ಆದ್ಯತೆಗಳು
Name[ko]=IBus 환경 설정  
Name[lv]=IBus iestatījumi
Name[ml]=IBus മുന്‍ഗണനകള്‍
Name[mr]=IBus आवड निवड
Name[nb]=Brukervalg for IBus
Name[nl]=IBus voorkeuren
Name[or]=IBus ପସନ୍ଦ
Name[pa]=IBus ਪਸੰਦ
Name[pl]=Preferencje usługi iBus
Name[pt_BR]=Preferências do IBus
Name[ru]=Параметры IBus
Name[sr]=IBus поставке
Name[sr@latin]=IBus postavke
Name[ta]=IBus முன்னுரிமைகள்
Name[te]=IBus ప్రాధాన్యతలు
Name[uk]=Налаштування IBus
Name[vi]=Tùy chọn IBus
Name[zh_CN]=IBus 首选项
Name[zh_HK]=IBus 偏好設定
Name[zh_TW]=iBus 偏好設定
Comment=Set IBus Preferences
Comment[as]=IBus পছন্দসমূহ সংহতি কৰক
Comment[bg]=Задава предпочитания за IBUS
Comment[bn_IN]=IBus সংক্রান্ত পছন্দ নির্ধারণ করুন
Comment[ca]=Estableix les preferències de l'IBus
Comment[da]=Angiv indstillinger for IBus
Comment[de]=IBus-Einstellungen konfigurieren
Comment[en_GB]=Set IBus Preferences
Comment[es]=Defina las preferencias de IBus
Comment[et]=Määra IBus eelistused
Comment[eu]=Ezarri IBus hobespenak
Comment[fr]=Définir les préférences de IBus
Comment[gu]=IBus પસંદગીઓને સુયોજિત કરો
Comment[hi]=IBus वरीयताएँ सेट करें
Comment[hu]=IBus beállításai
Comment[it]=Imposta Preferenze di IBus
Comment[ja]=IBus を設定します
Comment[kn]=IBus ಆದ್ಯತೆಗಳನ್ನು ಸಿದ್ಧಗೊಳಿಸು
Comment[ko]=IBus 환경 설정
Comment[lv]=Iestatīt IBus iestatījumus
Comment[ml]=IBus മുന്‍ഗണനകള്‍ സജ്ജമാക്കുക
Comment[mr]=IBus पसंती सुरू करा
Comment[nb]=Sett brukervalg for IBus
Comment[nl]=Stel IBus voorkeuren in
Comment[or]=IBus ପସନ୍ଦଗୁଡ଼ିକୁ ସେଟକରନ୍ତୁ
Comment[pa]=IBus ਪਸੰਦ ਸੈੱਟ ਕਰੋ
Comment[pl]=Ustawianie preferencji usługi iBus
Comment[pt_BR]=Definir Preferências do IBus
Comment[ru]=Настроить параметры IBus
Comment[ta]=IBus முன்னுரிமைகளை அமை
Comment[te]=IBus ప్రాధాన్యతలను అమర్చు
Comment[uk]=Налаштувати IBus
Comment[zh_CN]=设定 IBus 首选项
Comment[zh_TW]=設置 iBus 偏好設定
Exec=ibus-setup
Icon=ibus-setup
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
