#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Alarm-Clock
GenericName=alarm-clock
Exec=%%PBI_EXEDIR%%/alarm-clock
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/alarm-clock.png
StartupNotify=true
