#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/xdg-menu
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=Utility;
Name=XDG-Menu
Name[ja]=XDG-Menu
GenericName=xdg-menu
GenericName[ja]=xdg-menu
