[Desktop Entry]
Value=1.0
Type=Application
Exec=mtpaint
Path=
Icon=mtpaint.png
StartupNotify=true
Name=Mtpaint
Name[fr]=Mtpaint
Name[fr_CA]=Mtpaint
Name[ja]=Mtpaint
GenericName=mtpaint
GenericName[fr]=mtpaint
GenericName[fr_CA]=mtpaint
GenericName[ja]=mtpaint
