#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=linux-opera
GenericName=linux-opera
Exec=linux-opera
Path=
Icon=
Categories=
StartupNotify=true
