#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=startGrails
Path=
Icon=
Categories=
StartupNotify=true
Name=startGrails
Name[fr]=startGrails
Name[fr_CA]=startGrails
Name[ja]=startGrails
GenericName=startGrails
GenericName[fr]=startGrails
GenericName[fr_CA]=startGrails
GenericName[ja]=startGrails
