#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=robocode-Robocode
Path=
Icon=robocode.png
Categories=Game
StartupNotify=true
Name=Robocode
Name[fr]=Robocode
Name[fr_CA]=Robocode
Name[ja]=Robocode
GenericName=robocode
GenericName[fr]=robocode
GenericName[fr_CA]=robocode
GenericName[ja]=robocode
