#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=ikiwiki-calendar
Path=
Icon=
Categories=
StartupNotify=true
Name=ikiwiki-calendar
Name[fr]=ikiwiki-calendar
Name[fr_CA]=ikiwiki-calendar
Name[ja]=ikiwiki-calendar
GenericName=ikiwiki-calendar
GenericName[fr]=ikiwiki-calendar
GenericName[fr_CA]=ikiwiki-calendar
GenericName[ja]=ikiwiki-calendar
