#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=nexuiz-dedicated
Path=
Icon=share/icons/nexuiz.png
StartupNotify=true
Name=Nexuiz Dedicated
Name[ja]=Nexuiz Dedicated
GenericName=Nexuiz Dedicated
GenericName[ja]=Nexuiz Dedicated
