[Desktop Entry]
Value=1.0
Type=Application
Exec=six
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=six
Name[fr]=six
Name[fr_CA]=six
Name[ja]=six
Name[pl]=six
GenericName=six
GenericName[fr]=six
GenericName[fr_CA]=six
GenericName[ja]=six
GenericName[pl]=six
