[Desktop Entry]
Version=1.0
OnlyShowIn=XFCE
Exec=xfce4-appearance-settings
Icon=preferences-desktop-theme
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpFile=xfce4-settings.html
Comment=Customize the look of your desktop
Comment[af]=Die voorkoms van jou lessenaar
Comment[ar]=خصص مظهر سطح المكتب
Comment[ast]=Personaliza l'aspeutu del to escritoriu
Comment[bg]=Персонализиране на изгледа на десктопа ви
Comment[bn]=আপনার ডেস্কটপের অবয়ব স্বনির্ধারণ করুন
Comment[bs]=Prilagodite izgled radne površine
Comment[ca]=Personalitza l'aparença del vostre escriptori
Comment[cs]=Nastavení vzhledu vašeho pracovního prostředí
Comment[da]=Indstil skrivebordets udseende
Comment[de]=Anpassen Ihrer Arbeitsfläche und Aussehen
Comment[el]=Προσαρμόστε την εμφάνιση της επιφάνειας εργασίας
Comment[en_GB]=Customize the look of your desktop
Comment[en_ZA]=Customize the look of your desktop
Comment[es]=Personaliza el aspecto de tu escritorio
Comment[et]=Muuda töölaua väljanägemist
Comment[eu]=Pertsonalizatu zure idazmahaiaren itxura
Comment[fa]=سفارشی کردن ظاهر دسکتاپ
Comment[fi]=Mukauta työpöytäsi ulkoasua
Comment[fr]=Personnalisez l'apparence de votre bureau
Comment[fr_CA]=Personnalisez l'apparence de votre bureau
Comment[gl]=Personalizar a aparencia do escritorio
Comment[he]=התאם אישית את מראה שולחן העבודה
Comment[hi]=रूचि अनुसार डेस्कटॉप की दिखावट बदलें
Comment[hr]=Uredite izgled vaše radne površine
Comment[hu]=Az asztali környezet megjelenésének személyre szabása
Comment[id]=Sesuaikan tampilan desktop Anda
Comment[it]=Personalizza l'aspetto del tuo desktop
Comment[ja]=デスクトップの外見をカスタマイズする
Comment[kk]=Жұмыс үстеліңіздің сыртқы түрін баптаңыз
Comment[ko]=바탕화면 모양 사용자 정의
Comment[lv]=Pielāgot darbvirsmas izskatu
Comment[mn]=Десктопын харагдацыг өөрт тохируулж өөрчлөх
Comment[mt]=Jippersonalizzaw il-ħarsa ta 'desktop tiegħek
Comment[nb]=Tilpass utseendet til skrivebordet
Comment[nl]=Pas het uiterlijk van uw bureaublad aan
Comment[pa]=ਆਪਣੇ ਡੈਸਕਟਾਪ ਦੀ ਦਿੱਖ ਬਦਲੋ
Comment[pl]=Dostosuj wygląd pulpitu
Comment[pt]=Personalizar a aparência do seu ambiente
Comment[pt_BR]=Personalize o visual de seu desktop
Comment[ro]=Personalizarea aspectului mediului grafic
Comment[ru]=Настроить внешний вид вашего рабочего стола
Comment[si]=ඔබගේ වැඩතලයේ පෙනුම අභිමතකරණය කරන්න
Comment[sk]=Upraviť vzhľad obrazovky
Comment[sr]=Prilagodite izgled radne površine
Comment[sv]=Anpassa utseendet på ditt skrivbord
Comment[tg]=Танзимоти намоиши мизи корӣ
Comment[tr]=Masaüstünün görünümünü özellştirin
Comment[ug]=ئۈستەليۈزىنىڭ كۆرۈنۈشىنى Customize قىل
Comment[uk]=Налаштувати вигляд свого робочого столу
Comment[ur]=اپنے ڈیسک ٹاپ کا حلیہ مرتب کریں
Comment[ur_PK]=اپنے ڈیسک ٹاپ کا حلیہ مرتب کریں
Comment[vi]=Tùy chỉnh giao diện của bạn máy tính để bàn 
Comment[zh_CN]=制定桌面外观
Comment[zh_HK]=自訂桌面外觀
Comment[zh_TW]=客製化桌面外觀
Name=Appearance
Name[af]=Voorkoms
Name[ar]=المظهر
Name[ast]=Aspeutu
Name[bg]=Изглед
Name[bn]=অবয়ব
Name[bs]=Izgled
Name[ca]=Aparença
Name[cs]=Vzhled
Name[da]=Udseende
Name[de]=Aussehen
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[en_ZA]=Appearance
Name[es]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[fr_CA]=Apparence
Name[gl]=Aparencia
Name[he]=מראה
Name[hi]=दिखावट
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[id]=Penampilan
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=表示
Name[kk]=Сыртқы түрі
Name[ko]=모양
Name[lv]=Izskats
Name[mn]=Гадаад төрх
Name[mt]=Appearance
Name[nb]=Utseende
Name[nl]=Uiterlijk
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Оформление
Name[sk]=Vzhľad
Name[sr]=Izgled
Name[sv]=Utseende
Name[tg]=Намуди зоҳирӣ
Name[tr]=Görünüm
Name[ug]=كۆرۈنۈشى
Name[uk]=Зовнішній вигляд
Name[ur]=مظہر
Name[ur_PK]=مظہر
Name[vi]=Bề ngoài
Name[zh_CN]=外观
Name[zh_HK]=外觀
Name[zh_TW]=外觀
