[Desktop Entry]
Value=1.0
Type=Application
Name=krefty
GenericName=krefty
Exec=%%PBI_EXEDIR%%/krefty
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=Utility
