[Desktop Entry]
Value=1.0
Type=Application
Exec=gottet
Path=
Icon=gottet.png
StartupNotify=true
Categories=Games
Name=Gottet
Name[fr]=Gottet
Name[fr_CA]=Gottet
Name[ja]=Gottet
Name[pt_BR]=Gottet
GenericName=gottet
GenericName[fr]=gottet
GenericName[fr_CA]=gottet
GenericName[ja]=gottet
GenericName[pt_BR]=gottet
