#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/scribus
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/scribus.png
StartupNotify=true
Categories=Office;
MimeType=application/x-scribus
Name=Scribus
Name[ja]=Scribus
GenericName=Scribus
GenericName[ja]=Scribus
