[Desktop Entry]
Value=1.0
Type=Application
Exec=xvic
Path=
Icon=vice.png
StartupNotify=true
Categories=Utility
Name=Xvic
Name[fr]=Xvic
Name[fr_CA]=Xvic
Name[ja]=Xvic
Name[pl]=Xvic
Name[pt_BR]=Xvic
GenericName=xvic
GenericName[fr]=xvic
GenericName[fr_CA]=xvic
GenericName[ja]=xvic
GenericName[pl]=xvic
GenericName[pt_BR]=xvic
