#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=yad
Path=
Icon=
Categories=
StartupNotify=true
Name=yad
Name[ja]=yad
GenericName=yad
GenericName[ja]=yad
