#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=ReleaseHelper.py
Path=
Icon=
Categories=
StartupNotify=true
Name=ReleaseHelper.py
Name[fr]=ReleaseHelper.py
Name[fr_CA]=ReleaseHelper.py
Name[ja]=ReleaseHelper.py
GenericName=ReleaseHelper.py
GenericName[fr]=ReleaseHelper.py
GenericName[fr_CA]=ReleaseHelper.py
GenericName[ja]=ReleaseHelper.py
