#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=starfighter
Path=
Icon=starfighter.png
StartupNotify=true
Categories=Game
Name=Project: Starfighter
Name[fr]=Project: Starfighter
Name[fr_CA]=Project: Starfighter
Name[ja]=Project: Starfighter
Name[pl]=Projekt: Starfighter
GenericName=project: starfighter
GenericName[fr]=project: starfighter
GenericName[fr_CA]=project: starfighter
GenericName[ja]=project: starfighter
GenericName[pl]=projekt: starfighter
