#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=qtile
Path=
Icon=
Categories=Utility
StartupNotify=true
GenericName=qtile
GenericName[fr]=qtile
GenericName[ja]=qtile
Name=qtile
Name[fr]=qtile
Name[fr_CA]=qtile
Name[ja]=qtile
