#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=rodent
Path=
Icon=
Categories=
StartupNotify=true
Name=rodent
Name[fr]=rodent
Name[fr_CA]=rodent
Name[ja]=rodent
Name[pl]=rodent
GenericName=rodent
GenericName[fr]=rodent
GenericName[fr_CA]=rodent
GenericName[ja]=rodent
GenericName[pl]=rodent
