#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=transmission-cli
Path=
Icon=transmission.png
StartupNotify=true
NoDisplay=true
Terminal=true
TerminalOptions=
Categories=Network;
Name=Transmission CLI
Name[ja]=Transmission CLI
GenericName=Transmission CLI
GenericName[ja]=Transmission CLI
