#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/bxpkg -r
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/bxpkg.png
StartupNotify=true
Name=bxPKG (non-root)
Name[ja]=bxPKG (non-root)
GenericName=bxpkg
GenericName[ja]=bxpkg
