[Desktop Entry]
Value=1.0
Type=Application
Exec=wavbreaker
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=AudioVideo
Name=Wavbreaker
Name[ja]=Wavbreaker
GenericName=wavbreaker
GenericName[ja]=wavbreaker
