#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=gnofin
Path=
Icon=gnofin.png
StartupNotify=true
Categories=Office;
Name=Gnofin
Name[fr]=Gnofin
Name[ja]=Gnofin
Name[pt_BR]=Gnofin
GenericName=gnofin
GenericName[fr]=gnofin
GenericName[ja]=gnofin
GenericName[pt_BR]=gnofin
