[Desktop Entry]
Value=1.0
Type=Application
Exec=gnect
Path=
Icon=defaulticon.png
StartupNotify=true
Name=GNect
Name[ja]=GNect
GenericName=gnect
GenericName[ja]=gnect
