[Desktop Entry]
Value=1.0
Type=Application
Exec=spek
Path=
Icon=defaulticon.png
StartupNotify=true
Name=Spek
Name[de]=Spek
Name[ja]=Spek
Name[pt_BR]=Spek
GenericName=spek
GenericName[de]=spek
GenericName[ja]=spek
GenericName[pt_BR]=spek
