#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Grass
GenericName=grass
Exec=grass64
Path=
Icon=
Categories=
MimeType=
StartupNotify=true
