#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=JOE
GenericName=joe
Exec=%%PBI_EXEDIR%%/joe
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/joe.png
StartupNotify=true
Terminal=true
Categories=Office
