#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=lxmed-root
Path=
Icon=
Categories=
StartupNotify=true
GenericName=lxmed-root
GenericName[fr]=lxmed-root
GenericName[fr_CA]=lxmed-root
GenericName[ja]=lxmed-root
Name=lxmed-root
Name[fr]=lxmed-root
Name[fr_CA]=lxmed-root
Name[ja]=lxmed-root
Name[pl]=lxmed-root
