#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=configdump
Path=
Icon=
Categories=Network
StartupNotify=true
Name=configdump
Name[fr]=configdump
Name[fr_CA]=configdump
Name[ja]=configdump
GenericName=configdump
GenericName[fr]=configdump
GenericName[fr_CA]=configdump
GenericName[ja]=configdump
