#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=scilab-bin
Path=
Icon=scilab.png
StartupNotify=true
NoDisplay=true
Categories=Development;
Name=Scilab
Name[fr]=Scilab
Name[fr_CA]=Scilab
Name[ja]=Scilab
GenericName=Scilab
GenericName[fr]=Scilab
GenericName[fr_CA]=Scilab
GenericName[ja]=Scilab
