#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=gtk-launch
Path=
Icon=
Categories=
StartupNotify=true
Name=gtk-launch
Name[fr]=gtk-launch
Name[ja]=gtk-launch
GenericName=gtk-launch
GenericName[fr]=gtk-launch
GenericName[ja]=gtk-launch
