#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/galculator
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/galculator.png
StartupNotify=true
Name=galculator
Name[ja]=galculator
GenericName=galculator
GenericName[ja]=galculator
