#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=gigolo
Path=
Icon=Gigolo.png
StartupNotify=true
Categories=System
Name=Gigolo
Name[fr]=Gigolo
Name[fr_CA]=Gigolo
Name[ja]=Gigolo
GenericName=gigolo
GenericName[fr]=gigolo
GenericName[fr_CA]=gigolo
GenericName[ja]=gigolo
