#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=gobby
Path=
Icon=gobby.png
StartupNotify=true
Categories=Office;
Name=Gobby
Name[fr]=Gobby
Name[fr_CA]=Gobby
Name[ja]=Gobby
Name[pl]=Gobby
Name[pt_BR]=Gobby
GenericName=Gobby
GenericName[fr]=Gobby
GenericName[fr_CA]=Gobby
GenericName[ja]=Gobby
GenericName[pl]=Gobby
GenericName[pt_BR]=Gobby
