#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=gtkada-dialog
Path=
Icon=
Categories=
StartupNotify=true
Name=gtkada-dialog
Name[fr]=gtkada-dialog
Name[ja]=gtkada-dialog
GenericName=gtkada-dialog
GenericName[fr]=gtkada-dialog
GenericName[ja]=gtkada-dialog
