[Desktop Entry]
Value=1.0
Type=Application
Exec=pink-pony
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=pink-pony
Name[fr]=pink-pony
Name[ja]=pink-pony
GenericName=pink-pony
GenericName[fr]=pink-pony
GenericName[ja]=pink-pony
