[Desktop Entry]
Value=1.0
Type=Application
Exec=tanglet
Path=
Icon=tanglet.png
StartupNotify=true
Categories=Games
Name=Tanglet
Name[fr]=Tanglet
Name[ja]=Tanglet
GenericName=tanglet
GenericName[fr]=tanglet
GenericName[ja]=tanglet
