#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/calligra
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/calligra.png
StartupNotify=true
Name=Calligra
Name[ja]=Calligra
GenericName=calligra
GenericName[ja]=calligra
