[Desktop Entry]
Value=1.0
Type=Application
Name=KBlackbox
GenericName=kblackbox
Exec=%%PBI_EXEDIR%%/kblackbox
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
