[Desktop Entry]
Value=1.0
Type=Application
Exec=kreversi
Path=
Icon=defaulticon.png
StartupNotify=true
Name=KReversi
Name[fr]=KReversi
Name[fr_CA]=KReversi
Name[ja]=KReversi
Name[pl]=KReversi
Name[pt_BR]=KReversi
GenericName=kreversi
GenericName[fr]=kreversi
GenericName[fr_CA]=kreversi
GenericName[ja]=kreversi
GenericName[pl]=kreversi
GenericName[pt_BR]=kreversi
