[Desktop Entry]
Value=1.0
Type=Application
Exec=puddletag
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=AudioVideo
Name=Puddletag
Name[fr]=Puddletag
Name[ja]=Puddletag
Name[pt_BR]=Puddletag
GenericName=puddletag
GenericName[fr]=puddletag
GenericName[ja]=puddletag
GenericName[pt_BR]=puddletag
