[Desktop Entry]
Value=1.0
Type=Application
Exec=eiskaltdcpp-qt
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Network
Name=Eiskaltdcpp-qt
Name[fr]=Eiskaltdcpp-qt
Name[ja]=Eiskaltdcpp-qt
GenericName=eiskaltdcpp-qt
GenericName[fr]=eiskaltdcpp-qt
GenericName[ja]=eiskaltdcpp-qt
