#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=obkey
Path=
Icon=
Categories=
StartupNotify=true
Name=obkey
Name[fr]=obkey
Name[fr_CA]=obkey
Name[ja]=obkey
GenericName=obkey
GenericName[fr]=obkey
GenericName[fr_CA]=obkey
GenericName[ja]=obkey
