#!/usr/bin/env xdg-open
[Desktop Entry]
PC-PBIName=desktopbsd-tools
Exec=%PBIDIR%/bin/dbsd-pkgmgr
Type=Application
Path=%PBIDIR%/
Icon=%PBIDIR%/dbsdtools.png
Name=DesktopBSD Tools
Name[ca]=Eines DesktopBSD
Name[da]=DesktopBSD-værktøjer
Name[en_GB]=DesktopBSD Tools
Name[en_ZA]=DesktopBSD Tools
Name[es]=Herramientas DesktopBSD
Name[hr]=DesktopBSD Alati
Name[hu]=DesktopBSD-eszközök
Name[id]=Perangkat-perangkat DesktopBSD
Name[it]=Strumenti DesktopBSD
Name[nl]=DesktopBSD Tools
Name[pl]=DesktopBSD - narzędzia
Name[pt_BR]=Ferramentas DesktopBSD
Name[ru]=Инструменты DesktopBSD
Name[tr]=DesktopBSD Araçları
Name[uk]=Інструменти DesktopBSD
Comment=DesktopBSD software management tool
Comment[ca]=Eina de gestió de programari del DesktopBSD
Comment[da]=Værktøj til programhåndtering fra DesktopBSD
Comment[en_GB]=DesktopBSD software management tool
Comment[en_ZA]=DesktopBSD software management tool
Comment[es]=Herramienta gestora de software DesktopBSD
Comment[fr_CA]=Outil de gestion des logiciels DesktopBSD
Comment[hr]=Alat za upravljanje DesktopBSD-a softvera
Comment[hu]=DesktopBSD-programkezelő-eszköz
Comment[id]=Perangkat pengelola aplikasi DesktopBSD
Comment[it]=Strumento di gestione software DesktopBSD
Comment[nl]=DesktopBSD software management tool
Comment[pl]=DesktopBSD - menadżer oprogramowania
Comment[pt_BR]=Ferramenta de gerenciamento de software do DesktopBSD
Comment[ru]=Средство управления программным обеспечением DesktopBSD
Comment[tr]=DesktopBSD yazılım yönetim aracı
Comment[uk]=Інструмент керування програмним забеспеченням з DesktopBSD
