#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Exec=sudo pc-pkgmanager
Icon=computer
Type=Application
Categories=System;
Name=Package Manager
Name[de]=Paketverwalter
Name[fr]=Gestionnaire de Paquets
Name[fr_CA]=Gestionnaire de Paquet
