#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_US]=
Comment=
Exec=pc-su pc-updatecenter
Icon=/usr/local/share/pcbsd/icons/update-center.png
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=System;
Name=Update center (BETA)
Name[de]=Update Center (BETA)
Name[en_GB]=Update center (BETA)
Name[en_ZA]=Update center (BETA)
Name[es]=Centro de Actualizaciones (BETA)
Name[et]=Uuenduskeskus (beeta)
Name[fr]=Centre de mise à jour (BETA)
Name[fr_CA]=Centre de mise à jour (BETA)
Name[id]=Perbaharui pusat (BETA)
Name[ja]=アップデートセンター(未完成)
Name[nl]=Centrum voor bijwerken (bèta)
Name[pl]=Centrum aktualizacji (BETA)
Name[pt_BR]=Centro de atualização (BETA)
Name[ro]=Centru de actualizare
Name[uk]=Центр оновлення (БЕТА)
Name[zh_CN]=更新中心(BETA)
