#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Silc-client
GenericName=Silc-client
Exec=%%PBI_EXEDIR%%/silc
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/silc.png
StartupNotify=true
Categories=Network;
