#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/jitsi
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/jitsi.png
StartupNotify=true
Categories=Network
Name=Jitsi
Name[ja]=Jitsi
GenericName=jitsi
GenericName[ja]=jitsi
