[Desktop Entry]
Value=1.0
Type=Application
Exec=supertux
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=Supertux
Name[fr]=Supertux
Name[ja]=Supertux
GenericName=supertux
GenericName[fr]=supertux
GenericName[ja]=supertux
