#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=catseye-fm
Path=
Icon=
Categories=
StartupNotify=true
Name=catseye-fm
Name[fr]=catseye-fm
Name[ja]=catseye-fm
GenericName=catseye-fm
GenericName[fr]=catseye-fm
GenericName[ja]=catseye-fm
