#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=al-httpd
Path=
Icon=
Categories=
StartupNotify=true
Name=al-httpd
Name[ja]=al-httpd
GenericName=al-httpd
GenericName[ja]=al-httpd
