#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=foobillard
Path=
Icon=share/pixmaps/foobillard.png
StartupNotify=true
Name=FooBillard
Name[ja]=FooBillard
GenericName=FooBillard
GenericName[ja]=FooBillard
