#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/pyspacewar
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/pyspacewar.png
StartupNotify=true
Name=PySpaceWar
Name[ja]=PySpaceWar
GenericName=pyspacewar
GenericName[ja]=pyspacewar
