#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=update-gdk-pixbuf-loaders
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=update-gdk-pixbuf-loaders
Name[fr]=update-gdk-pixbuf-loaders
Name[fr_CA]=update-gdk-pixbuf-loaders
Name[ja]=update-gdk-pixbuf-loaders
Name[pl]=update-gdk-pixbuf-loaders
GenericName=update-gdk-pixbuf-loaders
GenericName[fr]=update-gdk-pixbuf-loaders
GenericName[fr_CA]=update-gdk-pixbuf-loaders
GenericName[ja]=update-gdk-pixbuf-loaders
GenericName[pl]=update-gdk-pixbuf-loaders
