#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=http-analyze
Path=
Icon=
Categories=
StartupNotify=true
Name=http-analyze
Name[fr]=http-analyze
Name[ja]=http-analyze
GenericName=http-analyze
GenericName[fr]=http-analyze
GenericName[ja]=http-analyze
