#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=uliweb
Path=
Icon=
Categories=
StartupNotify=true
Name=uliweb
Name[fr]=uliweb
Name[fr_CA]=uliweb
Name[ja]=uliweb
GenericName=uliweb
GenericName[fr]=uliweb
GenericName[fr_CA]=uliweb
GenericName[ja]=uliweb
