[Desktop Entry]
Value=1.0
Type=Application
Exec=llk_linux
Path=
Icon=defaulticon.png
StartupNotify=true
Name=lianliankan
Name[fr]=lianliankan
Name[ja]=lianliankan
Name[pt_BR]=lianliankan
GenericName=lianliankan
GenericName[fr]=lianliankan
GenericName[ja]=lianliankan
GenericName[pt_BR]=lianliankan
