#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=trigger
Path=
Icon=share/pixmaps/trigger.png
StartupNotify=true
Categories=Game;
Name=Trigger
Name[fr]=Trigger
Name[ja]=Trigger
GenericName=Trigger
GenericName[fr]=Trigger
GenericName[ja]=Trigger
