[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/taskcoach
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=Utility
Name=taskcoach
Name[ja]=taskcoach
GenericName=taskcoach
GenericName[ja]=taskcoach
