#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Warsow
GenericName=warsow
Exec=%%PBI_EXEDIR%%/warsow
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/warsow.png
StartupNotify=true
