#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=rb-site
GenericName=rb-site
Exec=rb-site
Path=
Icon=
Categories=Network
StartupNotify=true
