[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/tetzle
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=Game
Name=tetzle
Name[ja]=tetzle
GenericName=tetzle
GenericName[ja]=tetzle
