#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=moin
Path=
Icon=
Categories=
StartupNotify=true
Name=moin
Name[fr]=moin
Name[fr_CA]=moin
Name[ja]=moin
Name[pl]=moin
GenericName=moin
GenericName[fr]=moin
GenericName[fr_CA]=moin
GenericName[ja]=moin
GenericName[pl]=moin
