#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=lablgtk2
Path=
Icon=
Categories=
StartupNotify=true
Name=lablgtk2
Name[fr]=lablgtk2
Name[fr_CA]=lablgtk2
Name[ja]=lablgtk2
GenericName=lablgtk2
GenericName[fr]=lablgtk2
GenericName[fr_CA]=lablgtk2
GenericName[ja]=lablgtk2
