#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=rekonq
Path=
Icon=
Categories=
StartupNotify=true
Name=rekonq
Name[fr]=rekonq
Name[ja]=rekonq
GenericName=rekonq
GenericName[fr]=rekonq
GenericName[ja]=rekonq
