#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=scribes
Path=
Icon=scribes.png
StartupNotify=true
Categories=Office;
Name=Scribes
Name[ja]=Scribes
GenericName=scribes
GenericName[ja]=scribes
