[Desktop Entry]
Value=1.0
Type=Application
Exec=gnote
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Utility
Name=gnote
Name[ja]=gnote
GenericName=gnote
GenericName[ja]=gnote
