#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=puckman
Path=
Icon=puckman.png
StartupNotify=true
Name=Puckman
Name[fr]=Puckman
Name[ja]=Puckman
GenericName=puckman
GenericName[fr]=puckman
GenericName[ja]=puckman
