#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=fldigi
Path=
Icon=share/pixmaps/fldigi.xpm
StartupNotify=true
Categories=Utility;
Name=FLdigi
Name[fr]=FLdigi
Name[fr_CA]=FLdigi
Name[ja]=FLdigi
Name[pl]=FLdigi
Name[pt_BR]=FLdigi
GenericName=FLdigi
GenericName[fr]=FLdigi
GenericName[fr_CA]=FLdigi
GenericName[ja]=FLdigi
GenericName[pl]=FLdigi
GenericName[pt_BR]=FLdigi
