#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=xine
Path=
Icon=xine.png
StartupNotify=true
Name=Xine
Name[fr]=Xine
Name[fr_CA]=Xine
Name[ja]=Xine
Name[pl]=Xine
GenericName=Xine
GenericName[fr]=Xine
GenericName[fr_CA]=Xine
GenericName[ja]=Xine
GenericName[pl]=Xine
