#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=bubblemon-gnome2
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=System;
Name=Bubblemon
Name[fr]=Bubblemon
Name[ja]=Bubblemon
GenericName=bubblemon
GenericName[fr]=bubblemon
GenericName[ja]=bubblemon
