#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Etbg_update_list
GenericName=Etbg_update_list
Exec=Etbg_update_list
Path=
Icon=
Categories=Utility
StartupNotify=true
