#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Spring
GenericName=Spring
Exec=%%PBI_EXEDIR%%/spring
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/spring.png
StartupNotify=true
Categories=Game;
