#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_US]=
Comment=
Exec=pc-su pc-dmconf

Icon=/usr/local/share/pcbsd/icons/pc-dmconf.png
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Categories=System;Settings;
Name=Login Manager Settings
Name[af]=Teken Bestuurder Instellings
Name[ar]=إعدادات مدير الدخول
Name[de]=Einstellungen der Anmeldeverwaltung
Name[en_GB]=Login Manager Settings
Name[en_ZA]=Login Manager Settings
Name[es]=Configuración del Administrador de Acceso
Name[et]=Sisselogimishalduri sätted
Name[fr]=Paramètres du Gestionnaire de connexion
Name[fr_CA]=Paramètres du Gestionnaire de connexion
Name[hi]=लॉगइन प्रबंधक सेट्टिंग्स
Name[hr]=Postavke upravitelja prijave
Name[hu]=Bejelentkezés-kezelő beállításai
Name[id]=Pengaturan pengelola Login
Name[it]=Accedere alle Impostazioni di Gestione
Name[ja]=ログインマネージャーの設定
Name[ko]=로그인 관리자 설정
Name[lv]=Pieteikšanās pārvaldnieka iestatījumi
Name[mt]=Login Manager Settings
Name[nl]=Instellingen van aanmeldbeheerder
Name[pl]=Ustawienia menadżera logowania
Name[pt_BR]=Configurações do gerenciador de sessão
Name[ro]=Setări manager autentificare
Name[ru]=Параметры входа в систему
Name[sv]=Inställningar för skärmhanteraren
Name[uk]=Налаштування входу до системи
Name[vi]=Đăng nhập Settings Manager
Name[zh_CN]=登陆管理器设置
Name[zh_HK]=登入管理員設定
Name[zh_TW]=登入管理員設定
