#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=ASWallpaper
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=ASWallpaper
Name[fr]=ASWallpaper
Name[ja]=ASWallpaper
GenericName=ASWallpaper
GenericName[fr]=ASWallpaper
GenericName[ja]=ASWallpaper
