#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=uil
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=uil
Name[fr]=uil
Name[ja]=uil
GenericName=uil
GenericName[fr]=uil
GenericName[ja]=uil
