#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=xmbind
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=xmbind
Name[fr]=xmbind
Name[fr_CA]=xmbind
Name[ja]=xmbind
Name[pl]=xmbind
GenericName=xmbind
GenericName[fr]=xmbind
GenericName[fr_CA]=xmbind
GenericName[ja]=xmbind
GenericName[pl]=xmbind
