#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=obconf
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=obconf
Name[fr]=obconf
Name[ja]=obconf
GenericName=obconf
GenericName[fr]=obconf
GenericName[ja]=obconf
