#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=banshee-1
Path=
Icon=media-player-banshee.png
StartupNotify=true
Categories=AudioVideo;
Name=Banshee
Name[fr]=Banshee
Name[fr_CA]=Banshee
Name[ja]=Banshee
GenericName=Banshee
GenericName[fr]=Banshee
GenericName[fr_CA]=Banshee
GenericName[ja]=Banshee
