#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=DarwinStreamingServer
Path=
Icon=darwin.png
StartupNotify=true
NoDisplay=true
Terminal=true
TerminalOptions=
Categories=Network;
Name=DarwinStreamingServer
Name[fr]=DarwinStreamingServer
Name[fr_CA]=DarwinStreamingServer
Name[ja]=DarwinStreamingServer
Name[pl]=DarwinStreamingServer
GenericName=DarwinStreamingServer
GenericName[fr]=DarwinStreamingServer
GenericName[fr_CA]=DarwinStreamingServer
GenericName[ja]=DarwinStreamingServer
GenericName[pl]=DarwinStreamingServer
