#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/netbeans
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/netbeans.png
StartupNotify=true
Categories=Development
Name=NetBeans
Name[ja]=NetBeans
GenericName=netbeans
GenericName[ja]=netbeans
