[Desktop Entry]
Value=1.0
Type=Application
Exec=pipewalker
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=pipewalker
Name[fr]=pipewalker
Name[fr_CA]=pipewalker
Name[ja]=pipewalker
Name[pl]=pipewalker
GenericName=pipewalker
GenericName[fr]=pipewalker
GenericName[fr_CA]=pipewalker
GenericName[ja]=pipewalker
GenericName[pl]=pipewalker
