[Desktop Entry]
Value=1.0
Type=Application
Exec=mnemosyne
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=Mnemosyne
Name[fr]=Mnemosyne
Name[fr_CA]=Mnemosyne
Name[ja]=Mnemosyne
GenericName=py-mnemosyne
GenericName[fr]=py-mnemosyne
GenericName[fr_CA]=py-mnemosyne
GenericName[ja]=py-mnemosyne
