#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=compile.py
Path=
Icon=
Categories=
StartupNotify=true
Name=compile.py
Name[fr]=compile.py
Name[ja]=compile.py
GenericName=compile.py
GenericName[fr]=compile.py
GenericName[ja]=compile.py
