[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/katapult
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=Utility
Name=katapult
Name[ja]=katapult
GenericName=katapult
GenericName[ja]=katapult
