#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=iReport
Path=
Icon=ireport.png
StartupNotify=true
Categories=Development;
Name=iReport
Name[ja]=iReport
Name[pt_BR]=iReport
GenericName=iReport
GenericName[ja]=iReport
GenericName[pt_BR]=iReport
