[Desktop Entry]
Value=1.0
Type=Application
Name=qtm
GenericName=qtm
Exec=%%PBI_EXEDIR%%/qtm
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=Utility
