[Desktop Entry]
Value=1.0
Type=Application
Exec=ggz-gtk
Path=
Icon=defaulticon.png
StartupNotify=true
Name=ggz-gtk
Name[fr]=ggz-gtk
Name[ja]=ggz-gtk
Name[pt_BR]=ggz-gtk
GenericName=ggz-gtk
GenericName[fr]=ggz-gtk
GenericName[ja]=ggz-gtk
GenericName[pt_BR]=ggz-gtk
