#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/smb4k
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/smb4k.png
StartupNotify=true
Categories=Network;
Name=Smb4K
Name[ja]=Smb4K
GenericName=Smb4K
GenericName[ja]=Smb4K
