[Desktop Entry]
Value=1.0
Type=Application
Exec=konverter
Path=
Icon=defaulticon.png
StartupNotify=true
Name=Konverter
Name[ja]=Konverter
GenericName=konverter
GenericName[ja]=konverter
