#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=atunes
Path=
Icon=atunes.png
StartupNotify=true
Name=aTunes
Name[de]=aTunes
Name[fr]=aTunes
Name[ja]=aTunes
Name[pt_BR]=aTunes
GenericName=aTunes
GenericName[de]=aTunes
GenericName[fr]=aTunes
GenericName[ja]=aTunes
GenericName[pt_BR]=aTunes
