[Desktop Entry]
Value=1.0
Type=Application
Exec=jrdesktop
Path=
Icon=jrdesktop.png
StartupNotify=true
Name=Jrdesktop
Name[fr]=Jrdesktop
Name[ja]=Jrdesktop
GenericName=jrdesktop
GenericName[fr]=jrdesktop
GenericName[ja]=jrdesktop
