#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/palomino
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/palomino.png
StartupNotify=true
Categories=Game
Name=Palomino
Name[ja]=Palomino
GenericName=palomino
GenericName[ja]=palomino
