#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=gens
Path=
Icon=share/pixmaps/gens.png
StartupNotify=true
Categories=Game;
Name=Gens
Name[fr]=Gens
Name[ja]=Gens
Name[pt_BR]=Gens
GenericName=Gens
GenericName[fr]=Gens
GenericName[ja]=Gens
GenericName[pt_BR]=Gens
