#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=catalina.sh
Path=
Icon=
Categories=
StartupNotify=true
Name=catalina.sh
Name[fr]=catalina.sh
Name[ja]=catalina.sh
GenericName=catalina.sh
GenericName[fr]=catalina.sh
GenericName[ja]=catalina.sh
