#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=catalina-tasks.xml
Path=
Icon=
Categories=
StartupNotify=true
Name=catalina-tasks.xml
Name[fr]=catalina-tasks.xml
Name[fr_CA]=catalina-tasks.xml
Name[ja]=catalina-tasks.xml
Name[pl]=catalina-tasks.xml
Name[ru]=catalina-tasks.xml
GenericName=catalina-tasks.xml
GenericName[fr]=catalina-tasks.xml
GenericName[fr_CA]=catalina-tasks.xml
GenericName[ja]=catalina-tasks.xml
GenericName[pl]=catalina-tasks.xml
GenericName[ru]=catalina-tasks.xml
