#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=imlib2_conv
GenericName=imlib2_conv
Exec=imlib2_conv
Path=
Icon=
Categories=Graphics
StartupNotify=true
