[Desktop Entry]
Value=1.0
Type=Application
Exec=enigma
Path=
Icon=defaulticon.png
StartupNotify=true
Name=enigma
Name[fr]=enigma
Name[fr_CA]=enigma
Name[ja]=enigma
Name[pl]=enigma
Name[pt_BR]=enigma
GenericName=enigma
GenericName[fr]=enigma
GenericName[fr_CA]=enigma
GenericName[ja]=enigma
GenericName[pl]=enigma
GenericName[pt_BR]=enigma
