#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=yapra
Path=
Icon=
Categories=Network
StartupNotify=true
Name=yapra
Name[fr]=yapra
Name[ja]=yapra
GenericName=yapra
GenericName[fr]=yapra
GenericName[ja]=yapra
