[Desktop Entry]
Value=1.0
Type=Application
Exec=childsplay
Path=
Icon=childsplay.png
StartupNotify=true
Name=Childsplay
Name[fr]=Childsplay
Name[fr_CA]=Childsplay
Name[ja]=Childsplay
Name[pl]=Childsplay
Name[pt_BR]=Childsplay
GenericName=childsplay
GenericName[fr]=childsplay
GenericName[fr_CA]=Childsplay
GenericName[ja]=childsplay
GenericName[pl]=childsplay
GenericName[pt_BR]=childsplay
