#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=cinepaint
Path=
Icon=cinepaint.png
StartupNotify=true
Categories=Graphics;
Name=Cinepaint
Name[fr]=Cinepaint
Name[ja]=Cinepaint
GenericName=Cinepaint
GenericName[fr]=Cinepaint
GenericName[ja]=Cinepaint
