#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=Maelstrom
Path=
Icon=maelstrom.png
StartupNotify=true
Categories=Game
Name=Maelstrom
Name[ja]=Maelstrom
Name[pt_BR]=Maelstrom
GenericName=maelstrom
GenericName[ja]=maelstrom
GenericName[pt_BR]=maelstrom
