#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=bfg2pyramid
Path=
Icon=
Categories=
StartupNotify=true
Name=bfg2pyramid
Name[fr]=bfg2pyramid
Name[fr_CA]=bfg2pyramid
Name[ja]=bfg2pyramid
Name[pl]=bfg2pyramid
GenericName=bfg2pyramid
GenericName[fr]=bfg2pyramid
GenericName[fr_CA]=bfg2pyramid
GenericName[ja]=bfg2pyramid
GenericName[pl]=bfg2pyramid
