#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=gentoo
Path=
Icon=
Categories=
StartupNotify=true
Name=gentoo
Name[fr]=gentoo
Name[fr_CA]=gentoo
Name[ja]=gentoo
GenericName=gentoo
GenericName[fr]=gentoo
GenericName[fr_CA]=gentoo
GenericName[ja]=gentoo
