#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=xorgramana
Path=
Icon=x.png
StartupNotify=true
Categories=Game;
Name=XorGramana
Name[fr]=XorGramana
Name[fr_CA]=XorGramana
Name[ja]=XorGramana
Name[pl]=XorGramana
GenericName=xorgramana
GenericName[fr]=xorgramana
GenericName[fr_CA]=xorgramana
GenericName[ja]=xorgramana
GenericName[pl]=xorgramana
