[Desktop Entry]
Value=1.0
Type=Application
Exec=gnibbles
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=GNibbles
Name[fr]=GNibbles
Name[ja]=GNibbles
Name[pt_BR]=GNibbles
GenericName=gnibbles
GenericName[fr]=gnibbles
GenericName[ja]=gnibbles
GenericName[pt_BR]=gnibbles
