#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=desmume-cli
Path=
Icon=share/pixmaps/desmume.png
StartupNotify=true
NoDisplay=true
Categories=Game;
Name=DeSmuME-cli
Name[fr]=DeSmuME-cli
Name[fr_CA]=DeSmuME-cli
Name[ja]=DeSmuME-cli
Name[pl]=DeSmuME-cli
Name[pt_BR]=DeSmuME-cli
GenericName=DeSmuME-cli
GenericName[fr]=DeSmuME-cli
GenericName[fr_CA]=DeSmuME-cli
GenericName[ja]=DeSmuME-cli
GenericName[pl]=DeSmuME-cli
GenericName[pt_BR]=DeSmuME-cli
