#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=gnaural
Path=
Icon=gnaural.png
StartupNotify=true
Categories=AudioVideo;
Name=gnaural
Name[fr]=gnaural
Name[fr_CA]=gnaural
Name[ja]=gnaural
GenericName=gnaural
GenericName[fr]=gnaural
GenericName[fr_CA]=gnaural
GenericName[ja]=gnaural
