[Desktop Entry]
Value=1.0
Type=Application
Exec=tuxtype
Path=
Icon=tuxtype.png
StartupNotify=true
Categories=Game
Name=tuxtype
Name[ja]=tuxtype
GenericName=tuxtype
GenericName[ja]=tuxtype
