#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=kblob.kss
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=kblob.kss
Name[fr]=kblob.kss
Name[fr_CA]=kblob.kss
Name[ja]=kblob.kss
GenericName=kblob.kss
GenericName[fr]=kblob.kss
GenericName[fr_CA]=kblob.kss
GenericName[ja]=kblob.kss
