#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Extreme Tux Racer
GenericName=Extreme Tux Racer
Exec=%%PBI_EXEDIR%%/etracer
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/etracer.png
StartupNotify=true
