[Desktop Entry]
Value=1.0
Type=Application
Exec=afternoonstalker
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=afternoonstalker
Name[fr]=afternoonstalker
Name[ja]=afternoonstalker
Name[pt_BR]=afternoonstalker
GenericName=afternoonstalker
GenericName[fr]=afternoonstalker
GenericName[ja]=afternoonstalker
GenericName[pt_BR]=afternoonstalker
