[Desktop Entry]
Value=1.0
Type=Application
Exec=openlierox
Path=
Icon=openlierox.png
StartupNotify=true
Categories=Game
Name=OpenLieroX
Name[fr]=OpenLieroX
Name[fr_CA]=OpenLieroX
Name[ja]=OpenLieroX
GenericName=openlierox
GenericName[fr]=openlierox
GenericName[fr_CA]=openlierox
GenericName[ja]=openlierox
