#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Crank
GenericName=crank
Exec=%%PBI_EXEDIR%%/crank
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/crank.png
StartupNotify=true
Terminal=true
Categories=Utility
