[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/mysql-workbench
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/mysql-workbench.png
StartupNotify=true
Name=Mysql-workbench
Name[ja]=Mysql-workbench
GenericName=mysql-workbench
GenericName[ja]=mysql-workbench
