#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=metaflac
Path=
Icon=
Categories=
StartupNotify=true
Name=metaflac
Name[ja]=metaflac
GenericName=metaflac
GenericName[ja]=metaflac
