#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=qsh
Path=
Icon=
Categories=
StartupNotify=true
Name=qsh
Name[fr]=qsh
Name[fr_CA]=qsh
Name[ja]=qsh
GenericName=qsh
GenericName[fr]=qsh
GenericName[fr_CA]=qsh
GenericName[ja]=qsh
