#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=tremulous
Path=
Icon=share/pixmaps/tremulous.png
StartupNotify=true
Name=Tremulous
Name[fr]=Tremulous
Name[fr_CA]=Tremulous
Name[ja]=Tremulous
Name[pl]=Tremulous
GenericName=Tremulous
GenericName[fr]=Tremulous
GenericName[fr_CA]=Tremulous
GenericName[ja]=Tremulous
GenericName[pl]=Tremulous
