[Desktop Entry]

X-KDE-PluginInfo-Name=Default-PCBSD-10
X-KDE-PluginInfo-Author=iXsystems
X-KDE-PluginInfo-Email=info@pcbsd.org
X-KDE-PluginInfo-License=BSD
Name=Default: PC-BSD 10
Name[ar]=الإفتراضي: PC-BSD 10
Name[de]=Voreinstellung: PC-BSD 10
Name[el]=Προεπιλογή: PC-BSD 10
Name[en_GB]=Default: PC-BSD 10
Name[en_ZA]=Default: PC-BSD 10
Name[es]=Por defecto: PC-BSD 10
Name[et]=Vaikimisi: PC-BSD 10
Name[fi]=Oletus: PC-BSD 10
Name[fr]=Défaut: PC-BSD 10
Name[fr_CA]=Défaut: PC-BSD 10
Name[hi]=डिफॉल्ट: पी.सी-बी.एस.डी 10
Name[hr]=Zadano: PC-BSD 10
Name[hu]=Alapbeállítás: PC-BSD 10
Name[id]=Default: PC-BSD 10
Name[ja]=デフォルト: PC-BSD 10
Name[lv]=Noklusējums: PC-BSD 10
Name[mt]=Default: PC-BSD 10
Name[nl]=Standaard: PC-BSD 10
Name[pl]=Domyślnie: PC-BSD 10
Name[pt_BR]=Padrão: PC-BSD 10
Name[ro]=Mod implicit: PC-BSD 10
Name[ru]=По умолчанию: PC-BSD 10
Name[sv]=Standard: PC-BSD 10
Name[uk]=Типово: PC-BSD 10
Name[vi]=Mặc định: PC-BSD 10
Name[zh_CN]=默认：PC-BSD 10
Name[zh_TW]=預設：PC-BSD 10
