#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=magicor
Path=
Icon=Magicor.png
StartupNotify=true
Name=Magicor
Name[fr]=Magicor
Name[fr_CA]=Magicor
Name[ja]=Magicor
Name[pt_BR]=Magicor
GenericName=magicor
GenericName[fr]=magicor
GenericName[fr_CA]=magicor
GenericName[ja]=magicor
GenericName[pt_BR]=magicor
