#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=appclient
Path=
Icon=
Categories=Network
StartupNotify=true
Name=appclient
Name[fr]=appclient
Name[fr_CA]=appclient
Name[ja]=appclient
GenericName=appclient
GenericName[fr]=appclient
GenericName[fr_CA]=appclient
GenericName[ja]=appclient
