#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=asadmin
Path=
Icon=
Categories=Network
StartupNotify=true
Name=asadmin
Name[fr]=asadmin
Name[ja]=asadmin
GenericName=asadmin
GenericName[fr]=asadmin
GenericName[ja]=asadmin
