#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=panel-notify
GenericName=panel-notify
Exec=panel-notify
Path=
Icon=
Categories=
StartupNotify=true
