[Desktop Entry]
Value=1.0
Type=Application
Exec=gtk-recordMyDesktop
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=AudioVideo
Name=Gtk-recordMyDesktop
Name[ja]=Gtk-recordMyDesktop
GenericName=gtk-recordMyDesktop
GenericName[ja]=gtk-recordMyDesktop
