#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=xournal
Path=
Icon=xournal.png
StartupNotify=true
Categories=Graphics
Name=Xournal
Name[fr]=Xournal
Name[ja]=Xournal
GenericName=xournal
GenericName[fr]=xournal
GenericName[ja]=xournal
