[Desktop Entry]
Value=1.0
Type=Application
Exec=openyahtzee
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=openyahtzee
Name[fr]=openyahtzee
Name[ja]=openyahtzee
GenericName=openyahtzee
GenericName[fr]=openyahtzee
GenericName[ja]=openyahtzee
