#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=xclock
Path=
Icon=defaulticon.png
StartupNotify=true
Name=XClock
Name[fr]=XClock
Name[fr_CA]=XClock
Name[ja]=XClock
Name[pl]=XClock
GenericName=xclock
GenericName[fr]=xclock
GenericName[fr_CA]=xclock
GenericName[ja]=xclock
GenericName[pl]=xclock
