#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=winepath
Path=
Icon=wine.png
StartupNotify=true
NoDisplay=true
Categories=Development;
Name=winepath
Name[fr]=winepath
Name[ja]=winepath
Name[pt_BR]=winepath
GenericName=winepath
GenericName[fr]=winepath
GenericName[ja]=winepath
GenericName[pt_BR]=winepath
