#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=winegcc
Path=
Icon=wine.png
StartupNotify=true
NoDisplay=true
Categories=Development;
Name=winegcc
Name[fr]=winegcc
Name[fr_CA]=winegcc
Name[ja]=winegcc
Name[pl]=winegcc
Name[pt_BR]=winegcc
GenericName=winegcc
GenericName[fr]=winegcc
GenericName[fr_CA]=winegcc
GenericName[ja]=winegcc
GenericName[pl]=winegcc
GenericName[pt_BR]=winegcc
