#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=ulimit-tvf.sh
Path=
Icon=
Categories=
StartupNotify=true
Name=ulimit-tvf.sh
Name[fr]=ulimit-tvf.sh
Name[fr_CA]=ulimit-tvf.sh
Name[ja]=ulimit-tvf.sh
Name[pl]=ulimit-tvf.sh
GenericName=ulimit-tvf.sh
GenericName[fr]=ulimit-tvf.sh
GenericName[fr_CA]=ulimit-tvf.sh
GenericName[ja]=ulimit-tvf.sh
GenericName[pl]=ulimit-tvf.sh
