#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=wbar
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=wbar
Name[ja]=wbar
GenericName=wbar
GenericName[ja]=wbar
