#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=phatfanslider
GenericName=phatfanslider
Exec=phatfanslider
Path=
Icon=
Categories=
StartupNotify=true
