[Desktop Entry]
Value=1.0
Type=Application
Exec=belooted
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=belooted
Name[fr]=belooted
Name[fr_CA]=belooted
Name[ja]=belooted
Name[pl]=belooted
Name[pt_BR]=belooted
GenericName=belooted
GenericName[fr]=belooted
GenericName[fr_CA]=belooted
GenericName[ja]=belooted
GenericName[pl]=belooted
GenericName[pt_BR]=belooted
