[Desktop Entry]
Value=1.0
Type=Application
Exec=rubrica2
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Utility
Name=rubrica
Name[fr]=rubrica
Name[fr_CA]=rubrica
Name[ja]=rubrica
Name[pt_BR]=rubrica
GenericName=rubrica
GenericName[fr]=rubrica
GenericName[fr_CA]=rubrica
GenericName[ja]=rubrica
GenericName[pt_BR]=rubrica
