#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=GTKPool
GenericName=GTKPool
Exec=%%PBI_EXEDIR%%/gtkpool
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/share/pixmaps/gtkpool.png
StartupNotify=true
