#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=lazarus
Path=
Icon=share/pixmaps/lazarus.png
StartupNotify=true
Categories=Development;
Name=Lazarus
Name[ja]=Lazarus
Name[pt_BR]=Lazarus
GenericName=Lazarus
GenericName[ja]=Lazarus
GenericName[pt_BR]=Lazarus
