#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=openlp
Path=
Icon=openlp.png
StartupNotify=true
Name=openlp.org
Name[fr]=openlp.org
Name[ja]=openlp.org
GenericName=openlp.org
GenericName[fr]=openlp.org
GenericName[ja]=openlp.org
