#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=dashboard.sh
Path=
Icon=
Categories=Network
StartupNotify=true
Name=dashboard.sh
Name[ja]=dashboard.sh
GenericName=dashboard.sh
GenericName[ja]=dashboard.sh
