#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=digikam
Path=
Icon=showfoto.png
StartupNotify=true
Categories=Graphics;
Name=digikam
Name[fr]=digikam
Name[fr_CA]=digikam
Name[ja]=digikam
Name[pl]=digikam
GenericName=digikam
GenericName[fr]=digikam
GenericName[fr_CA]=digikam
GenericName[ja]=digikam
GenericName[pl]=digikam
