#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=svnstat
Path=
Icon=
Categories=
StartupNotify=true
Name=svnstat
Name[fr]=svnstat
Name[ja]=svnstat
GenericName=svnstat
GenericName[fr]=svnstat
GenericName[ja]=svnstat
