#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=audacity
Path=
Icon=audacity.png
StartupNotify=true
Categories=AudioVideo;
Name=Audacity
Name[fr]=Audacity
Name[ja]=Audacity
Name[pt_BR]=Audacity
GenericName=Audacity
GenericName[fr]=Audacity
GenericName[ja]=Audacity
GenericName[pt_BR]=Audacity
