#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=mame
Path=
Icon=mame_icon.png
StartupNotify=true
Categories=Game;
Name=Multiple Arcade Machine Emulator
Name[ja]=MAME - マルチアケードマシンエミュレーター
GenericName=Multiple Arcade Machine Emulator
GenericName[ja]=MAME - マルチアケードマシンエミュレーター
