#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=sarg
Path=
Icon=
Categories=Network
StartupNotify=true
Name=sarg
Name[fr]=sarg
Name[fr_CA]=sarg
Name[ja]=sarg
GenericName=sarg
GenericName[fr]=sarg
GenericName[fr_CA]=sarg
GenericName[ja]=sarg
