[Desktop Entry]
Value=1.0
Type=Application
Exec=munin-cron
Path=
Icon=munin-master.png
StartupNotify=true
Name=Munin-cron
Name[fr]=Munin-cron
Name[fr_CA]=Munin-cron
Name[ja]=Munin-cron
Name[pl]=Munin-cron
GenericName=munin-cron
GenericName[fr]=munin-cron
GenericName[fr_CA]=munin-cron
GenericName[ja]=munin-cron
GenericName[pl]=munin-cron
