#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=startqsynth
Path=
Icon=fluidsynth.png
StartupNotify=true
Name=Qsynth
Name[de]=Qsynth
Name[fr]=Qsynth
Name[fr_CA]=Qsynth
Name[ja]=Qsynth
Name[pl]=Qsynth
Name[pt_BR]=Qsynth
GenericName=Qsynth
GenericName[de]=Qsynth
GenericName[fr]=Qsynth
GenericName[fr_CA]=Qsynth
GenericName[ja]=Qsynth
GenericName[pl]=Qsynth
GenericName[pt_BR]=Qsynth
