#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=marutex
Path=
Icon=
Categories=Network
StartupNotify=true
Name=marutex
Name[fr]=marutex
Name[fr_CA]=marutex
Name[ja]=marutex
Name[pl]=marutex
GenericName=marutex
GenericName[fr]=marutex
GenericName[fr_CA]=marutex
GenericName[ja]=marutex
GenericName[pl]=marutex
