#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=maruku
Path=
Icon=
Categories=Network
StartupNotify=true
Name=maruku
Name[ja]=maruku
GenericName=maruku
GenericName[ja]=maruku
