[Desktop Entry]
Value=1.0
Type=Application
Name=amoebax
GenericName=amoebax
Exec=%%PBI_EXEDIR%%/amoebax
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
