#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=dosbox
Path=
Icon=share/pixmaps/dosbox.png
StartupNotify=true
Name=DOSBox
Name[fr]=DOSBox
Name[fr_CA]=DOSBox
Name[ja]=DOSBox
Name[pl]=DOSBox
Name[pt_BR]=DOSBox
GenericName=DOSBox
GenericName[fr]=DOSBox
GenericName[fr_CA]=DOSBox
GenericName[ja]=DOSBox
GenericName[pl]=DOSBox
GenericName[pt_BR]=DOSBox
