#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=njam
Path=
Icon=Njam.png
StartupNotify=true
Name=Njam
Name[fr]=Njam
Name[fr_CA]=Njam
Name[ja]=Njam
GenericName=njam
GenericName[fr]=njam
GenericName[fr_CA]=njam
GenericName[ja]=njam
