#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Goldendict
GenericName=Goldendict
Exec=%%PBI_EXEDIR%%/goldendict
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/goldendict.png
StartupNotify=true
Categories=Office;
