[Desktop Entry]
Value=1.0
Type=Application
Exec=lmarbles
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=lmarbles
Name[fr]=lmarbles
Name[ja]=lmarbles
Name[pt_BR]=lmarbles
GenericName=lmarbles
GenericName[fr]=lmarbles
GenericName[ja]=lmarbles
GenericName[pt_BR]=lmarbles
