#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=celestia
Path=
Icon=share/pixmaps/celestia.png
StartupNotify=true
Name=Celestia
Name[de]=Celestia
Name[en_GB]=Celestia
Name[fr]=Celestia
Name[fr_CA]=Celestia
Name[ja]=Celestia
Name[pt_BR]=Celestia
Name[uk]=Celestia
GenericName=Celestia
GenericName[de]=Celestia
GenericName[en_GB]=Celestia
GenericName[fr]=Celestia
GenericName[fr_CA]=Celestia
GenericName[ja]=Celestia
GenericName[pt_BR]=Celestia
GenericName[uk]=Celestia
