[Desktop Entry]
Value=1.0
Type=Application
Exec=tribler
Path=
Icon=tribler.png
StartupNotify=true
Name=Tribler
Name[fr]=Tribler
Name[fr_CA]=Tribler
Name[ja]=Tribler
GenericName=tribler
GenericName[fr]=tribler
GenericName[fr_CA]=tribler
GenericName[ja]=tribler
