#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/fceux
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/fceux.png
StartupNotify=true
Name=FCEUX
Name[ja]=FCEUX
GenericName=fceux
GenericName[ja]=fceux
