#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=boa
Path=
Icon=
Categories=
StartupNotify=true
Name=boa
Name[fr]=boa
Name[fr_CA]=boa
Name[ja]=boa
GenericName=boa
GenericName[fr]=boa
GenericName[fr_CA]=boa
GenericName[ja]=boa
