#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=boa_indexer
Path=
Icon=
Categories=
StartupNotify=true
Name=boa_indexer
Name[fr]=boa_indexer
Name[ja]=boa_indexer
GenericName=boa_indexer
GenericName[fr]=boa_indexer
GenericName[ja]=boa_indexer
