#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=isqlw-vt
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=isqlw-vt
Name[fr]=isql-vt
Name[fr_CA]=isqlw-vt
Name[ja]=isqlw-vt
Name[pl]=isqlw-vt
GenericName=isqlw-vt
GenericName[fr]=isql-vt
GenericName[fr_CA]=isqlw-vt
GenericName[ja]=isqlw-vt
GenericName[pl]=isqlw-vt
