#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=awesome2
Path=
Icon=
Categories=
StartupNotify=true
Name=awesome2
Name[fr]=awesome2
Name[ja]=awesome2
GenericName=awesome2
GenericName[fr]=awesome2
GenericName[ja]=awesome2
