[Desktop Entry]
Value=1.0
Type=Application
Exec=gbemol
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=AudioVideo
Name=Gbemol
Name[de]=Gbemol
Name[fr]=Gbemol
Name[ja]=Gbemol
Name[pt_BR]=Gbemol
GenericName=gbemol
GenericName[de]=gbemol
GenericName[fr]=gbemol
GenericName[ja]=gbemol
GenericName[pt_BR]=gbemol
