#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/formido
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/Formido.png
StartupNotify=true
Name=Formido
Name[ja]=Formido
GenericName=formido
GenericName[ja]=formido
