#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=qupzilla
Path=
Icon=qupzilla.png
StartupNotify=true
Categories=Network
Name=QupZilla
Name[fr]=QupZilla
Name[fr_CA]=QupZilla
Name[ja]=QupZilla
Name[pl]=QupZilla
GenericName=qupzilla
GenericName[fr]=qupzilla
GenericName[fr_CA]=qupzilla
GenericName[ja]=qupzilla
GenericName[pl]=qupzilla
