#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=gtk-demo
GenericName=gtk-demo
Exec=gtk-demo
Path=
Icon=
Categories=Utility
StartupNotify=true
