[Desktop Entry]
Value=1.0
Type=Application
Exec=glabels
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Utility
Name=glabels
Name[fr]=glabels
Name[fr_CA]=glabels
Name[ja]=glabels
Name[pl]=glabels
Name[pt_BR]=glabels
GenericName=glabels
GenericName[fr]=glabels
GenericName[fr_CA]=glabels
GenericName[ja]=glabels
GenericName[pl]=glabels
GenericName[pt_BR]=glabels
