#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=runzope
Path=
Icon=
Categories=Network
StartupNotify=true
Name=runzope
Name[fr]=runzope
Name[fr_CA]=runzope
Name[ja]=runzope
Name[pl]=runzope
GenericName=runzope
GenericName[fr]=runzope
GenericName[fr_CA]=runzope
GenericName[ja]=runzope
GenericName[pl]=runzope
