#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=nautilus
Path=
Icon=
Categories=
StartupNotify=true
Name=nautilus
Name[fr]=nautilus
Name[ja]=nautilus
GenericName=nautilus
GenericName[fr]=nautilus
GenericName[ja]=nautilus
