[Desktop Entry]
Value=1.0
Type=Application
Name=gruler
GenericName=gruler
Exec=%%PBI_EXEDIR%%/gruler
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
