#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=goonies
Path=
Icon=goonies.png
StartupNotify=true
Name=The Goonies
Name[ja]=The Goonies
Name[pt_BR]=The Goonies
GenericName=the goonies
GenericName[ja]=the goonies
GenericName[pt_BR]=the goonies
