#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/gcstar
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/gcstar.png
StartupNotify=true
Name=GCstar
Name[ja]=GCstar
GenericName=gcstar
GenericName[ja]=gcstar
