[Desktop Entry]
Value=1.0
Type=Application
Exec=kdesnake
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=KDESnake
Name[ja]=KDESnake
GenericName=kdesnake
GenericName[ja]=kdesnake
