[Desktop Entry]
Value=1.0
Type=Application
Name=KLines
GenericName=klines
Exec=%%PBI_EXEDIR%%/klines
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=Game
