[Desktop Entry]
Value=1.0
Type=Application
Exec=pysolfc
Path=
Icon=defaulticon.png
StartupNotify=true
Name=pysolfc
Name[fr]=pysolfc
Name[ja]=pysolfc
GenericName=pysolfc
GenericName[fr]=pysolfc
GenericName[ja]=pysolfc
