#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=netpanzer
Path=
Icon=share/pixmaps/netpanzer.png
StartupNotify=true
Categories=Game;TacticStrategy;
Name=netPanzer
Name[fr]=netPanzer
Name[ja]=netPanzer
GenericName=netPanzer
GenericName[fr]=netPanzer
GenericName[ja]=netPanzer
