[Desktop Entry]
Value=1.0
Type=Application
Exec=freedink
Path=
Icon=defaulticon.png
StartupNotify=true
Name=freedink
Name[fr]=freedink
Name[fr_CA]=freedink
Name[ja]=freedink
Name[pl]=freedink
Name[pt_BR]=freedink
GenericName=freedink
GenericName[fr]=freedink
GenericName[fr_CA]=freedink
GenericName[ja]=freedink
GenericName[pl]=freedink
GenericName[pt_BR]=freedink
