#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=quickie-config
Path=
Icon=
Categories=Network
StartupNotify=true
Name=quickie-config
Name[ja]=quickie-config
GenericName=quickie-config
GenericName[ja]=quickie-config
