[Desktop Entry]
OnlyShowIn=Mate
Exec=mate-appearance-properties %F
Icon=preferences-desktop-theme
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;
OnlyShowIn=MATE;
Comment=Customize the look of the desktop
Comment[af]=Die voorkoms van die lessenaar
Comment[ar]=خصص مظهر سطح المكتب
Comment[as]=ডেস্কটপৰ প্ৰদৰ্শনৰ পছন্দ নিৰ্ধাৰণ কৰক
Comment[ast]=Personaliza l'aspeutu del escritoriu
Comment[be@latin]=Źmiani vyhlad stała
Comment[bg]=Персонализиране на изгледа на десктопа
Comment[bn]=ডেস্কটপের চেহারা পছন্দ অনুসারে নির্ধারণ করুন
Comment[bn_IN]=ডেস্কটপের চেহারা পছন্দ অনুসারে নির্ধারণ করুন
Comment[br]=Personelaat an dres ar burev
Comment[bs]=Prilagodite izgled radne površine
Comment[ca@valencia]=Personalitzeu l'aparença de l'escriptori
Comment[ca]=Personalitzeu l'aparença de l'escriptori
Comment[crh]=Masaüstü körünişini şahsiyleştir
Comment[cs]=Upravit vzhled pracovního prostředí
Comment[da]=Indstil skrivebordets udseende
Comment[de]=Anpassen der Arbeitsfläche
Comment[dz]=ཌེཀསི་ཊོཔ་གི་མཐོང་སྣང་སྲོལ་སྒྲིག་འབད
Comment[el]=Προσαρμόστε την εμφάνιση της επιφάνειας εργασίας
Comment[en@shaw]=𐑒𐑩𐑕𐑑𐑩𐑥𐑲𐑟 𐑞 𐑤𐑫𐑒 𐑝 𐑞 𐑛𐑧𐑕𐑒𐑑𐑪𐑐
Comment[en_AU]=Customise the look of the desktop
Comment[en_GB]=Customize the look of the desktop
Comment[en_ZA]=Customize the look of the desktop
Comment[es]=Personaliza el aspecto del escritorio
Comment[et]=Kujunda töölaua väljanägemist
Comment[eu]=Pertsonalizatu mahaigainaren itxura
Comment[fa]=سفارشی کردن ظاهر دسکتاپ
Comment[fi]=Mukauta työpöydän ulkoasua
Comment[fr]=Personnalisez l'apparence du bureau
Comment[fr_CA]=Personnalisez l'apparence du bureau
Comment[ga]=Saincheap cuma na deisce
Comment[gl]=Personalizar a aparencia do escritorio
Comment[gu]=ડેસ્કટોપનો દેખાવ વૈવિધ્યપૂર્ણ બનાવો
Comment[he]=התאם אישית את מראה שולחן העבודה
Comment[hi]=रूचि अनुसार डेस्कटॉप की दिखावट बदलें
Comment[hr]=Prilagodite izgled radne površine
Comment[hu]=Az asztali környezet megjelenésének személyre szabása
Comment[id]=Menyesuaikan tampilan desktop
Comment[it]=Personalizza l'aspetto del desktop
Comment[ja]=デスクトップの外見をカスタマイズする
Comment[ka]=სამუშაო მაგიდის ხედის გალამაზება
Comment[kn]=ಗಣಕತೆರೆಯನ್ನು ನೋಟವನ್ನು ಇಚ್ಛೆಗೆ ತಕ್ಕಂತೆ ಬದಲಾಯಿಸಿ
Comment[ko]=바탕화면 모양 사용자 정의
Comment[lt]=Keisti darbo aplinkos išvaizdą
Comment[lv]=Pielāgot darbvirsmas izskatu
Comment[mk]=Прилагодете го изгледот на работната околина
Comment[ml]=പണിയിടത്തിനെ ഇഷ്ടപ്പെട്ട രീതിയിലാക്കുക
Comment[mn]=Десктоп харагдацыг өөрт тохируулж өөрчлөх
Comment[mr]=डेस्कटॉपचा दृश्य स्वपसंत करा
Comment[mt]=Jippersonalizzaw il-ħarsa tal-desktop
Comment[nb]=Tilpass utseende for skrivebordet
Comment[nds]=Schrievdiskutsehn anpassen
Comment[ne]=डेक्सटपको हेराइ अनुकुलन गर्नुहोस्
Comment[nl]=Pas het uiterlijk van het bureaublad aan
Comment[nn]=Tilpass utsjåande for skrivebordet
Comment[oc]=Personalizar l'aparéncia del burèu
Comment[or]=ଡେସ୍କଟପର ଦୃଶ୍ୟକୁ ଇଚ୍ଛାମୁତାବକ କରନ୍ତୁ
Comment[pa]=ਡੈਸਕਟਾਪ ਲਈ ਪਸੰਦੀਦਾ ਦਿੱਖ
Comment[pl]=Dostosuj wygląd i zachowanie pulpitu
Comment[pt]=Personalizar o aspeto da área de trabalho
Comment[pt_BR]=Personalizar o visual do desktop
Comment[ro]=Personalizarea aspectului mediului grafic
Comment[ru]=Настроить внешний вид рабочего стола
Comment[sk]=Upraviť vzhľad obrazovky
Comment[sl]=Prilagajanje videza namizja
Comment[sq]=Personalizon paraqitjen e ambjentit grafik
Comment[sr@latin]=Prilagodite izgled radne površi
Comment[sr]=Prilagodite izgled radne površine
Comment[sv]=Anpassa utseendet på skrivbordet
Comment[ta]=கணிமேசைக்கான காட்சியை தனிப்பயனாக்குக
Comment[te]=డెస్కుటాప్ యొక్క రూపాన్ని మలుచుము
Comment[tg]=Танзимоти намоиши мизи корӣ
Comment[th]=ปรับแต่งรูปโฉมของพื้นโต๊ะ
Comment[tr]=Masaüstünün görünümü değiştirin
Comment[ug]=ئىختىيارىچە ئۈستەل ئۈستى قىياپىتى
Comment[uk]=Налаштувати вигляд робочого столу
Comment[vi]=Tùy chỉnh giao diện của máy tính để bàn
Comment[zh_CN]=制定桌面外观
Comment[zh_HK]=自訂桌面外觀
Comment[zh_TW]=客製化桌面外觀
Name=Appearance
Name[af]=Voorkoms
Name[ar]=المظهر
Name[as]=প্ৰদৰ্শন
Name[ast]=Aspeutu
Name[be@latin]=Vyhlad
Name[bg]=Изглед
Name[bn]=উপস্থিতি
Name[bn_IN]=চেহারা
Name[br]=Neuz
Name[bs]=Izgled
Name[ca@valencia]=Aparença
Name[ca]=Aparença
Name[crh]=Körüniş
Name[cs]=Vzhled
Name[da]=Udseende
Name[de]=Aussehen
Name[dz]=འབྱུང་སྣང་
Name[el]=Εμφάνιση
Name[en@shaw]=𐑩𐑐𐑽𐑩𐑯𐑕
Name[en_AU]=Appearance
Name[en_GB]=Appearance
Name[en_ZA]=Appearance
Name[es]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[fr_CA]=Apparence
Name[ga]=Cuma
Name[gl]=Aparencia
Name[gu]=દેખાવ
Name[he]=מראה
Name[hi]=दिखावट
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[id]=Penampilan
Name[it]=Aspetto
Name[ja]=表示
Name[ka]=გარემოს იერსახე
Name[kk]=Сыртқы түрі
Name[kn]=ಗೋಚರಿಕೆ
Name[ko]=모양
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mai]=प्रकटन
Name[mk]=Изглед
Name[ml]=ചമയം
Name[mn]=Гадаад төрх
Name[mr]=दर्शन
Name[ms]=Penampilan
Name[mt]=Appearance
Name[nb]=Utseende
Name[nds]=utsehn
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjåande
Name[oc]=Aparéncia
Name[or]=ସାଦ୍ରୁଶ୍ଯ
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Оформление
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sq]=Paraqitja
Name[sr@latin]=Izgled
Name[sr]=Izgled
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[te]=ఆకారం
Name[tg]=Намуди зоҳирӣ
Name[th]=รูปโฉม
Name[tr]=Görünüm
Name[ug]=كۆرۈنۈش
Name[uk]=Зовнішній вигляд
Name[uz@cyrillic]=Ташқи кўриниши
Name[uz]=Tashqi koʻrinishi
Name[vi]=Bề ngoài
Name[zh_CN]=外观
Name[zh_HK]=外觀
Name[zh_TW]=外觀
