#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=bin
Path=
Icon=moodle.png
StartupNotify=true
NoDisplay=true
Terminal=true
TerminalOptions=
Categories=Utility;
Name=Moodle
Name[fr]=Moodle
Name[fr_CA]=Moodle
Name[ja]=Moodle
Name[pl]=Moodle
GenericName=Moodle
GenericName[fr]=Moodle
GenericName[fr_CA]=Moodle
GenericName[ja]=Moodle
GenericName[pl]=Moodle
