#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=rdmsg
Path=
Icon=
Categories=Network
StartupNotify=true
Name=rdmsg
Name[fr]=rdmsg
Name[fr_CA]=rdmsg
Name[ja]=rdmsg
Name[pl]=rdmsg
GenericName=rdmsg
GenericName[fr]=rdmsg
GenericName[fr_CA]=rdmsg
GenericName[ja]=rdmsg
GenericName[pl]=rdmsg
