#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=ede-bug-report
Path=
Icon=
Categories=
StartupNotify=true
Name=ede-bug-report
Name[fr]=ede-bug-report
Name[fr_CA]=ede-bug-report
Name[ja]=ede-bug-report
Name[pl]=ede-bug-report
GenericName=ede-bug-report
GenericName[fr]=ede-bug-report
GenericName[fr_CA]=ede-bug-report
GenericName[ja]=ede-bug-report
GenericName[pl]=ede-bug-report
