#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=wmfishtime
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Utility;
Name=wmFishtime
Name[fr]=wmFishtime
Name[fr_CA]=wmFishtime
Name[ja]=wmFishtime
Name[pl]=wmFishtime
GenericName=wmfishtime
GenericName[fr]=wmfishtime
GenericName[fr_CA]=wmfishtime
GenericName[ja]=wmfishtime
GenericName[pl]=wmfishtime
