#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=pinta
Path=
Icon=pinta.png
StartupNotify=true
Categories=Graphics;
Name=Pinta
Name[fr]=Pinta
Name[fr_CA]=Pinta
Name[ja]=Pinta
Name[pl]=Pinta
GenericName=pinta
GenericName[fr]=pinta
GenericName[fr_CA]=pinta
GenericName[ja]=pinta
GenericName[pl]=pinta
