#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=font-manager
Path=
Icon=
Categories=
StartupNotify=true
Name=font-manager
Name[ja]=font-manager
GenericName=font-manager
GenericName[ja]=font-manager
