#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=Gonvert
GenericName=gonvert
Exec=%%PBI_EXEDIR%%/gonvert
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/gonvert.png
StartupNotify=true
