#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=gonvert
Path=
Icon=gonvert.png
StartupNotify=true
Name=Gonvert
Name[fr]=Gonvert
Name[ja]=Gonvert
GenericName=gonvert
GenericName[fr]=gonvert
GenericName[ja]=gonvert
