#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=wine
Path=
Icon=wine.png
StartupNotify=true
NoDisplay=true
Categories=Development;
MimeType=application/x-ms-dos-executable;
Name=Wine
Name[fr]=Wine
Name[fr_CA]=Wine
Name[ja]=Wine
Name[pt_BR]=Wine
GenericName=Wine
GenericName[fr]=Wine
GenericName[fr_CA]=Wine
GenericName[ja]=Wine
GenericName[pt_BR]=Wine
