#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=xtux
Path=
Icon=XTux.png
StartupNotify=true
Name=XTux
Name[fr]=XTux
Name[fr_CA]=XTux
Name[ja]=XTux
Name[pl]=XTux
GenericName=xtux
GenericName[fr]=xtux
GenericName[fr_CA]=xtux
GenericName[ja]=xtux
GenericName[pl]=xtux
