#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=rake
Path=
Icon=
Categories=Network
StartupNotify=true
Name=rake
Name[ja]=rake
GenericName=rake
GenericName[ja]=rake
