#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=atc
Path=
Icon=bsdgames.png
StartupNotify=true
Terminal=true
Name=BSD-Atc
Name[ja]=BSD-Atc
GenericName=bsd-atc
GenericName[ja]=bsd-atc
