#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=fish
Path=
Icon=bsdgames.png
StartupNotify=true
Terminal=true
Name=BSD-Fish
Name[fr]=BSD-Fish
Name[fr_CA]=BSD-Fish
Name[ja]=BSD-Fish
Name[pl]=BSD-Fish
Name[pt_BR]=BSD-Fish
GenericName=bsd-fish
GenericName[fr]=bsd-fish
GenericName[fr_CA]=bsd-fish
GenericName[ja]=bsd-fish
GenericName[pl]=bsd-fish
GenericName[pt_BR]=bsd-fish
