#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=worm
Path=
Icon=bsdgames.png
StartupNotify=true
Terminal=true
GenericName=bsd-worm
GenericName[fr]=bsd-worm
GenericName[ja]=bsd-worm
GenericName[pt_BR]=bsd-worm
Name=BSD-Worm
Name[fr]=BSD-Worm
Name[fr_CA]=BSD-Worm
Name[ja]=BSD-Worm
Name[pt_BR]=BSD-Worm
