#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=frogatto
Path=
Icon=defaulticon.png
StartupNotify=true
Name=Frogatto
Name[fr]=Frogatto
Name[fr_CA]=Frogatto
Name[ja]=Frogatto
Name[pl]=Frogatto
Name[pt_BR]=Frogatto
GenericName=frogatto
GenericName[fr]=frogatto
GenericName[fr_CA]=frogatto
GenericName[ja]=frogatto
GenericName[pl]=frogatto
GenericName[pt_BR]=frogatto
