#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=xonotic-dedicated
Path=
Icon=xonotic.png
StartupNotify=true
Categories=Game
Name=Xonotic Dedicated Server
Name[fr]=Xonotic Dedicated Server
Name[ja]=Xonotic Dedicated Server
GenericName=Xonotic Dedicated Server
GenericName[fr]=Xonotic Dedicated Server
GenericName[ja]=Xonotic Dedicated Server
