#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=content-md5-put
Path=
Icon=
Categories=Network
StartupNotify=true
Name=content-md5-put
Name[fr]=content-md5-put
Name[ja]=content-md5-put
GenericName=content-md5-put
GenericName[fr]=content-md5-put
GenericName[ja]=content-md5-put
