#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=lxmed-root
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=lxmed-root
Name[ja]=lxmed-root
GenericName=lxmed-root
GenericName[ja]=lxmed-root
