[Desktop Entry]
Value=1.0
Type=Application
Exec=barrage
Path=
Icon=defaulticon.png
StartupNotify=true
Categories=Game
Name=barrage
Name[ja]=barrage
GenericName=barrage
GenericName[ja]=barrage
