#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=wdmLogin
Path=
Icon=
Categories=
StartupNotify=true
GenericName=wdmLogin
GenericName[ja]=wdmLogin
Name=wdmLogin
Name[fr]=wdmLogin
Name[ja]=wdmLogin
