[Desktop Entry]
Value=1.0
Type=Application
Name=Quassel (Client only)
GenericName=quasselclient
Exec=%%PBI_EXEDIR%%/quasselclient
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/quassel.png
StartupNotify=true
Categories=Network
