#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=E-Areas.epplet
GenericName=E-Areas.epplet
Exec=E-Areas.epplet
Path=
Icon=
Categories=Utility
StartupNotify=true
