#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=knoda
Path=
Icon=knoda.png
StartupNotify=true
Name=Knoda
Name[fr]=Knoda
Name[fr_CA]=Knoda
Name[ja]=Knoda
Name[pl]=Knoda
Name[pt_BR]=Knoda
GenericName=knoda
GenericName[fr]=knoda
GenericName[fr_CA]=knoda
GenericName[ja]=knoda
GenericName[pl]=knoda
GenericName[pt_BR]=knoda
