#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/knoda
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/knoda.png
StartupNotify=true
Name=Knoda
Name[ja]=Knoda
GenericName=knoda
GenericName[ja]=knoda
