#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=icbm3d
Path=
Icon=icbm3d.png
StartupNotify=true
Categories=Game;
Name=ICBM3D
Name[fr]=ICBM3D
Name[fr_CA]=ICBM3D
Name[ja]=ICBM3D
Name[pl]=ICBM3D
Name[pt_BR]=ICBM3D
GenericName=icbm3d
GenericName[fr]=icbm3d
GenericName[fr_CA]=icbm3d
GenericName[ja]=icbm3d
GenericName[pl]=icbm3d
GenericName[pt_BR]=icbm3d
