#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=README-forrest-upgrade.txt
Path=
Icon=
Categories=Network
StartupNotify=true
Name=README-forrest-upgrade.txt
Name[fr]=README-forrest-upgrade.txt
Name[fr_CA]=README-forrest-upgrade.txt
Name[ja]=README-forrest-upgrade.txt
GenericName=README-forrest-upgrade.txt
GenericName[fr]=README-forrest-upgrade.txt
GenericName[fr_CA]=README-forrest-upgrade.txt
GenericName[ja]=README-forrest-upgrade.txt
