#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Monodevelop
GenericName=Monodevelop
Exec=%%PBI_EXEDIR%%/monodevelop
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/monodevelop.png
StartupNotify=true
