#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=%%PBI_EXEDIR%%/anki
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/anki.png
StartupNotify=true
Name=Anki
Name[ja]=Anki
GenericName=anki
GenericName[ja]=anki
