#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=passenger
Path=
Icon=
Categories=
StartupNotify=true
Name=passenger
Name[ja]=passenger
GenericName=passenger
GenericName[ja]=passenger
