[Desktop Entry]
Value=1.0
Type=Application
Name=Beast
GenericName=beast
Exec=%%PBI_EXEDIR%%/beast
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/defaulticon.png
StartupNotify=true
Categories=AudioVideo
