#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=trean-backfill-remove-utm-params
Path=
Icon=
Categories=Network
StartupNotify=true
Name=trean-backfill-remove-utm-params
Name[fr]=trean-backfill-remove-utm-params
Name[fr_CA]=trean-backfill-remove-utm-params
Name[ja]=trean-backfill-remove-utm-params
GenericName=trean-backfill-remove-utm-params
GenericName[fr]=trean-backfill-remove-utm-params
GenericName[fr_CA]=trean-backfill-remove-utm-params
GenericName[ja]=trean-backfill-remove-utm-params
