#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=trean-backfill-favicons
Path=
Icon=
Categories=Network
StartupNotify=true
Name=trean-backfill-favicons
Name[fr]=trean-backfill-favicons
Name[ja]=trean-backfill-favicons
GenericName=trean-backfill-favicons
GenericName[fr]=trean-backfill-favicons
GenericName[ja]=trean-backfill-favicons
