[Desktop Entry]
Value=1.0
Type=Application
Exec=nxssh
Path=
Icon=linux-nx-client.png
StartupNotify=true
Name=Nxssh
Name[fr]=Nxssh
Name[fr_CA]=Nxssh
Name[ja]=Nxssh
Name[pl]=Nxssh
GenericName=nxssh
GenericName[fr]=nxssh
GenericName[fr_CA]=nxssh
GenericName[ja]=nxssh
GenericName[pl]=nxssh
