#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=__init__.pyo
GenericName=__init__.pyo
Exec=__init__.pyo
Path=
Icon=
Categories=Network
StartupNotify=true
