#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=bugsquish
Path=
Icon=bugsquish.png
StartupNotify=true
Categories=Game;
Name=Bug Squish
Name[ja]=Bug Squish
Name[pt_BR]=Bug Squish
GenericName=bug squish
GenericName[ja]=bug squish
GenericName[pt_BR]=bug squish
