[Desktop Entry]
Version=1.0
Exec=xfce4-mouse-settings
Icon=preferences-desktop-peripherals
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;X-XfceSettingsDialog;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpFile=xfce4-settings.html
Name=Mouse
Name[af]=Muis
Name[ar]=الفأرة
Name[ast]=Mur
Name[bg]=Мишка
Name[bn]=মাউস
Name[bs]=Miš
Name[ca]=Ratolí
Name[cs]=Myš
Name[da]=Mus
Name[de]=Maus
Name[el]=Ποντίκι
Name[en_GB]=Mouse
Name[en_ZA]=Mouse
Name[es]=Ratón
Name[et]=Hiir
Name[eu]=Sagua
Name[fa]=موس
Name[fi]=Hiiri
Name[fr]=Souris
Name[fr_CA]=Souris
Name[gl]=Rato
Name[he]=עכבר
Name[hi]=माउस
Name[hr]=Miš
Name[hu]=Egér
Name[id]=Mouse
Name[it]=Mouse
Name[ja]=マウス
Name[kk]=Тышқан
Name[ko]=마우스
Name[lv]=Pele
Name[mn]=Хулгана
Name[mt]=Mouse
Name[nb]=Mus
Name[nl]=Muis
Name[pa]=ਮਾਊਂਸ
Name[pl]=Mysz
Name[pt]=Rato
Name[pt_BR]=Mouse
Name[ro]=Mouse
Name[ru]=Мышь
Name[sk]=Myš
Name[sl]=Miš
Name[sr]=Miš
Name[sv]=Mus
Name[tg]=Муш
Name[tr]=Fare
Name[ug]=چاشقىنەك
Name[uk]=Миша
Name[ur]=ماؤس
Name[ur_PK]=ماؤس
Name[vi]=Chuột
Name[zh_CN]=鼠标
Name[zh_HK]=滑鼠
Name[zh_TW]=滑鼠
Comment=Configure pointer device behavior and appearance
Comment[af]=Instel wyser toestel gedrag en voorkoms
Comment[ar]=اضبط سلوك ومظهر المؤشر
Comment[ast]=Configura'l comportamientu y aspeutu del preséu del punteru
Comment[bg]=Конфигуриране на поведение и външен вид на показалеца
Comment[bn]=পয়েন্টার ডিভাইসের আচরণ ও অবয়ব কনফিগার
Comment[bs]=Izgled i ponašanje uređaja za prikazivanje
Comment[ca]=Configureu el comportament i aspecte del dispositiu apuntador
Comment[cs]=Konfiguruje chování a vzhled ukazatele zařízení
Comment[da]=Indstil adfærd og udseende for pegeredskab
Comment[de]=Aussehen und Verhalten vom Zeigegerät konfigurieren
Comment[el]=Ρυθμίστε τις παραμέτρους συμπεριφοράς της συσκευής δείκτη και την εμφάνιση του
Comment[en_GB]=Configure pointer device behavior and appearance
Comment[en_ZA]=Configure pointer device behavior and appearance
Comment[es]=Configure comportamiento dispositivos apuntadores y apariencia
Comment[et]=Muuda osutusseadme liikumist ja väljanägemist
Comment[eu]=Konfiguratu markatzaile gailu ingurunea eta itxura
Comment[fa]=پیکربندی دستگاه اشاره گر رفتار و ظاهر
Comment[fi]=Säädä osoitinlaitteen käytöstä ja ulkonäköä
Comment[fr]=Configurez le comportement et l'apparence du pointeur
Comment[fr_CA]=Configurez le comportement et l'apparence du pointeur
Comment[gl]=Configurar o comportamento e maila aparencia do dispositivo de punteiro
Comment[he]=הגדרת אפשרויות סמן
Comment[hi]=पॉइंटेर उपकरणों के व्यवहार और दिखाव को समनुरूप करें
Comment[hr]=Namjestite ponašanje i izgled uređaja za pokazivanje
Comment[hu]=Mutatóeszköz működésének és megjelenésének beállítása
Comment[id]=Mengkonfigurasi perilaku perangkat penunjuk dan penampilan
Comment[it]=Configura il comportamente e l'aspetto del dispositivo di puntamento
Comment[ja]=ポインターデバイスの挙動を設定する
Comment[kk]=Көрсету құрылғысының мінез-құлығын мен сыртқы түрін баптау
Comment[ko]=포인터 장치 동작 및 모양을 설정합니다.
Comment[lv]=Iestatīt rādītājierīču uzvedību un izskatu
Comment[mn]=Хулгана мэтийн төхөөрөмжийн төлөв болон үзэгдэх байдлыг тохируулах
Comment[mt]=Kkonfigurat imġieba apparat pointer u d-dehra
Comment[nb]=Tilpass oppførsel og utseende for musepekeren
Comment[nl]=Configureer het gedrag en het uiterlijk van de muis
Comment[pa]=ਪੁਆਇੰਟਰ ਜੰਤਰ ਰਵੱਈਆ ਅਤੇ ਦਿੱਖ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja zachowania i wyglądu urządzenia wskazującego
Comment[pt]=Configurar comportamento e aparência do ponteiro
Comment[pt_BR]=Configurar o comportamento do ponteiro do dispositivo e aparência
Comment[ro]=Configurarea comportamentului cursorului și aspectul acestuia
Comment[ru]=Изменение параметров и внешнего вида указывающего устройства
Comment[sk]=Nastaviť vzhľad kurzoru a polohovacie zariadenie
Comment[sr]=Izgled i ponašanje uređaja za prikazivanje
Comment[sv]=Konfigurera pekdonets beteende och utseende
Comment[tg]=Танзимоти рафтор ва намуди зоҳирии дастгоҳи нишондиҳанда
Comment[tr]=İşaretçi davranışını ve görünümünü düzenleyin
Comment[ug]=pointer ئۈسكۈنىسىنىڭ ھەرىكىتى ۋە كۆرۈنۈشىنى تەڭشەش
Comment[uk]=Налаштувати поведінку та зовнішній вигляд вказівного пристрою
Comment[ur]=پؤائینٹر ڈیوائس کا سلوک اور مظہر متعین کریں
Comment[ur_PK]=پؤائینٹر ڈیوائس کا سلوک اور مظہر متعین کریں
Comment[vi]=Cấu hình hành vi thiết bị con trỏ và sự xuất hiện
Comment[zh_CN]=配置指针设置的行为和外观
Comment[zh_HK]=設定游標的舉止與外觀
Comment[zh_TW]=設定游標的舉止與外觀
