#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=roxterm-config
GenericName=roxterm-config
Exec=roxterm-config
Path=
Icon=
Categories=Utility
StartupNotify=true
