[Desktop Entry]
Value=1.0
Type=Application
Exec=xfmedia
Path=
Icon=defaulticon.png
StartupNotify=true
Name=Xfmedia
Name[fr]=Xfmedia
Name[fr_CA]=Xfmedia
Name[ja]=Xfmedia
Name[pl]=Xfmedia
GenericName=xfmedia
GenericName[fr]=xfmedia
GenericName[fr_CA]=xfmedia
GenericName[ja]=xfmedia
GenericName[pl]=xfmedia
