[Desktop Entry]
Value=1.0
Type=Application
Name=Opensonic
GenericName=opensonic
Exec=%%PBI_EXEDIR%%/opensonic
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/opensonic.png
StartupNotify=true
