#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=inkscape
Path=
Icon=inkscape.png
StartupNotify=true
Name=Inkscape
Name[fr]=Inkscape
Name[fr_CA]=Inkscape
Name[ja]=Inkscape
Name[pl]=Inkscape
GenericName=Inkscape
GenericName[fr]=Inkscape
GenericName[fr_CA]=Inkscape
GenericName[ja]=Inkscape
GenericName[pl]=Inkscape
