#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=oxygen-gtk-demo
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=oxygen-gtk-demo
Name[fr]=oxygen-gtk-demo
Name[fr_CA]=oxygen-gtk-demo
Name[ja]=oxygen-gtk-demo
GenericName=oxygen-gtk-demo
GenericName[fr]=oxygen-gtk-demo
GenericName[fr_CA]=oxygen-gtk-demo
GenericName[ja]=oxygen-gtk-demo
