#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=xkobo
Path=
Icon=defaulticon.png
StartupNotify=true
Name=XKobo
Name[fr]=XKobo
Name[fr_CA]=XKobo
Name[ja]=XKobo
Name[pl]=XKobo
GenericName=xkobo
GenericName[fr]=xkobo
GenericName[fr_CA]=xkobo
GenericName[ja]=xkobo
GenericName[pl]=xkobo
