#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=gcb
Path=
Icon=
Categories=
StartupNotify=true
Name=gcb
Name[fr]=gcb
Name[ja]=gcb
GenericName=gcb
GenericName[fr]=gcb
GenericName[ja]=gcb
