#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=npm-cli.js
Path=
Icon=
Categories=Network
StartupNotify=true
GenericName=npm-cli.js
GenericName[ja]=npm-cli.js
Name=npm-cli.js
Name[fr]=npm-cli.js
Name[ja]=npm-cli.js
