[Desktop Entry]
Value=1.0
Type=Application
Exec=connectagram
Path=
Icon=connectagram.png
StartupNotify=true
Categories=Games
Name=Connectagram
Name[ja]=Connectagram
GenericName=connectagram
GenericName[ja]=connectagram
