#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Name=Denemo
GenericName=Denemo
Exec=%%PBI_EXEDIR%%/denemo
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/denemo.png
StartupNotify=true
Categories=AudioVideo;
