#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Name=XPaint-xpaint
GenericName=xpaint-xpaint
Exec=%%PBI_EXEDIR%%/xpaint
Path=%%PBI_APPDIR%%
Icon=%%PBI_APPDIR%%/xpaint.png
StartupNotify=true
