#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=ede-about
Path=
Icon=
Categories=Utility
StartupNotify=true
Name=ede-about
Name[fr]=ede-about
Name[fr_CA]=ede-about
Name[ja]=ede-about
Name[pl]=ede-about
GenericName=ede-about
GenericName[fr]=ede-about
GenericName[fr_CA]=ede-about
GenericName[ja]=ede-about
GenericName[pl]=ede-about
