#!/usr/bin/env
[Desktop Entry]
Value=1.0
Type=Application
Exec=ant
Path=
Icon=
Categories=
StartupNotify=true
Name=ant
Name[fr]=ant
Name[fr_CA]=ant
Name[ja]=ant
GenericName=ant
GenericName[fr]=ant
GenericName[fr_CA]=ant
GenericName[ja]=ant
