#!/usr/bin/env xdg-open
[Desktop Entry]
Value=1.0
Type=Application
Exec=devede
Path=
Icon=devede.png
StartupNotify=true
Categories=AudioVideo;
Name=Devede
Name[fr]=Devede
Name[ja]=Devede
GenericName=Devede
GenericName[fr]=Devede
GenericName[ja]=Devede
